body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    row-gap:15px;
    position:relative;
    width:100vw;
    height:auto;
    margin:0;
    background:#EDEADE;
    border-radius:10px;
    overflow:hidden;
}

/*navigation*/
.Navigation{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:10px;
    position:relative;
    width:98%;
    height:32px;
    margin-top:3px;
    border-radius:10px;
}
.Navigation button{
    display:flex;
    align-items:center;
    justify-content:center;
    width:auto;
    height:80%;
    color:rgb(54, 69, 79);
    padding:5px;
    background:transparent;
    border:hidden;
    border-radius:10px;
    box-shadow:2px 2px 10px rgba(10, 10, 10, 0.3);
}
.Navigation button:hover{
    color:white;
    background:#5D6166;
}

.new_select{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-around;
    position:relative;
    top:30%;
    width:350px;
    height:150px;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
    color:rgb(54, 69, 79);
    font-size:16px;
    background:#EDEADE;
    border-radius:10px;
    box-shadow:2px 2px 10px rgba(10, 10, 10, 0.3);
}
.new_select button{
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    width:20%;
    height:18%;
    color:rgb(54, 69, 79);
    font-size:14px;
    background:transparent;
    border:1px solid #5D6166;
    border-radius:10px;
}
.new_select button:hover{
    color:#EDEADE;
    background:#5D6166;
}

form{
    display:none;
    visibility:hidden;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-around;
    position:absolute;
    z-index:3;
    top:10%;
    width:400px;
    height:500px;
    padding-left:10px;
    padding-right:10px;
    padding-top:15px;
    padding-bottom:15px;
    background:#EDEADE;
    border-radius:10px;
    box-shadow:2px 2px 10px rgba(10, 10, 10, 0.3);
}
.newSupplier{
    display:flex;
    visibility:visible;
}
.selectSupplier{
    display:flex;
    visibility:visible;
}
form text{
    align-self:center;
    color:#5D6166;
    font-size:17px;
}
form label{
    color:#5D6166;
    font-size:16px;
}
form input{
    color:gray;
    font-size:14px;
    padding:5px;
    width:100%;
    height:30px;
    background:#F9F6EE;
    border:hidden;
    border-radius:10px;
}
form input:focus{
    outline:none;
    border:1px solid gray;
}
form textarea{
    color:gray;
    font-size:14px;
    padding:5px;
    width:100%;
    height:100px;
    background:#F9F6EE;
    border:hidden;
    border-radius:10px;
}
form textarea:focus{
    outline:none;
    border:1px solid gray;
}

form select{
    width:100%;
    height:auto;
    color:gray;
    font-size:14px;
    padding:5px;
    background:#F9F6EE;
    border:hidden;
    border-radius:10px;
}

form select:focus{
    outline:none;
    border:1px solid gray;
}
select option{
    display:flex;
    align-items:center;
    height:30px;
    margin-top:4px;
    font-size:14px;
}

form select option:hover{
    cursor:hand;
    color:white;
    background:#5D6166;
}
form select option:focus{
    color:white;
    background:#5D6166;
}
.but{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:100%;
    height:30px;
    border-radius:10px;
}
.but button{
    width:20%;
    height:80%;
    color:rgb(54, 69, 79);
    font-size:14px;
    padding:2px;
    background:transparent;
    border:1px solid #5D6166;
    border-radius:10px;
}
.but button:hover{
    color:white;
    background:#5D6166;
}

@media(max-width:430px){
    .messages{
        width:95%;
    }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #F9F6EE;
  border-radius:0px 10px 10px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(54, 69, 79, 0.5);
  border-radius:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 69, 79, 0.8);
}