{%load static%}
{%load widget_tweaks%}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration/settings.css'%}" xmlns="http://www.w3.org/1999/html">
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<div class="main">
    <div class="container">
       <div class="menu">
           <li><button type = 'button' class = 'Cancel' onclick="window.location.href='http://127.0.0.1:8000/editbusiness/';">Edit Business</button></li>
           <li><button type = 'button' class = 'Cancel' onclick="window.location.href='http://127.0.0.1:8000/bankingrevenue/';">Banking & Revenue</button></li>
           <li><button type = 'button' class = 'Cancel' onclick="window.location.href='http://127.0.0.1:8000/bussprofile/';">Set up a businness</button></li>
       </div>
    </div>
</div>
