{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration/signUp.css'%}" xmlns="http://www.w3.org/1999/html">


<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" type="text/css" href="{% static 'css/catalogue/catalogueMessages.css'%}" xmlns="http://www.w3.org/1999/html">
{%include 'catalogue/catalogueMessages.html'%}




<form method="post" class="signup" id="signup">
    {%csrf_token%}
    <h1>MAT</h1>
    <div class="inputs">
        <div class="input_container">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="first name" required minlength="4" maxlength="15" placeholder="first name">
        </div>
        <div class="input_container">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="last name" required minlength="4" maxlength="15" placeholder="last name">
        </div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required minlength="4" maxlength="15" placeholder="username">
        <label for="email">
            <i class="material-icons" style="font-size:18px;">mail</i>
        </label>
        <input type="email" id="email" name="email" required minlength="4" maxlength="30" placeholder="email address">
        <label for="email">
            <i class="material-icons" style="font-size:18px;">lock</i>
        </label>
        <input type="password" id="password1" name="password1" required minlength="5" maxlength="15" placeholder="password">
        <label for="email">
            <i class="material-icons" style="font-size:18px;">key</i>
        </label>
        <input type="password" id="password2" name="password2" required minlength="5" maxlength="15" placeholder="repeat password">
        <div class="but">
            <button type="submit" name="signup">SignUp</button>
        </div>
    </div>
</form>

<script>
    <!-- messages -->
    let mssg = document.getElementById("mssg");

    function closeMssg(){
        mssg.classList.add("hide");
        window.location.href = "/login/";
    }
</script>