{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/expense/credit/creditInstallment.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{%static 'css/expense/expenseMessages.css'%}" xmlns="http://www.w3.org/1999/html">
{%include "expense/expenseMessages.html"%}

<div class="Navigation">
    <button type="button" onclick="openForm()">
        <i class="material-icons" style="font-size:18px">add</i> &nbsp;installment
    </button>
    <button type="button" onclick="window.location.href='/credit/';">
        <i class="material-icons" style="font-size:18px">arrow_forward</i>
    </button>
</div>

<div class="debtor">
    <text> <i class="material-icons" style="font-size:16px; color:#2B3856;">person</i>&nbsp; {{credit.Supplier.Name}}</text>
    <text> <i class="material-icons" style="font-size:16px; color:#2B3856;">email</i>&nbsp; {{credit.Supplier.Email}}</text>
    <text> <i class="material-icons" style="font-size:16px; color:#2B3856;">phone</i>&nbsp; {{credit.Supplier.Contact}}</text>
    <text>Balance: {{remaining}}</text>
    <div class="notes">
        <text class="notes_title">Note:</text>
        <div class="note">
            <text> {{credit.Supplier.Notes}}</text>
        </div>
    </div>
</div>

<table class="mainTable">
    <thead>
        <tr>
            <th class="account_th"></th>
            <th class="amount_th">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr class="open_section">
            <td style="width:100%">Expenses</td>
        </tr>

        <tr class="separator"></tr>

        <tr class="section_header">
            <td class="sth1">Name</td>
            <td class="sth2">Type</td>
            <td class="sth3">Quant</td>
            <td class="sth2"></td>
        </tr>
        {%for i in data%}
            <tr>
                <td class="sth1">{{i.Name}}</td>
                <td class="sth2">{{i.Type}}</td>
                <td class="sth3">{{i.Quantity}}</td>
                <td class="sth2">{{i.Price}}</td>
            </tr>
        {%endfor%}
        <tr class="separator">
        </tr>
        <tr class="close_section">
            <td class="close_section_title">Total Credit</td>
            <td class="close_section_value">{{credit.Amount}}</td>
        </tr>
        <tr>
            <td class="separator"></td>
        </tr>
        <tr class="open_section">
            <td style="width:100%">Installments</td>
        </tr>
        <!--Installments -->
        <tr>
            <td class="button_td" >
                <button type="button" id="installmentsDropDown" onclick="openInstallmentsDetail()">
                    <i class="material-icons" style="font-size:30px">arrow_drop_down</i>{{installments_count}}
                </button>
                <button type="button" id="installmentsDropUp" onclick="closeInstallmentsDetail()" class="hide">
                    <i class="material-icons" style="font-size:30px">arrow_drop_up</i>{{installments_count}}
                </button>
            </td>
        </tr>
        <tr class="detail_container">
            <td>
                <table id="installmentsDetail" class="detail">
                    <tbody>
                        <tr class="section_header">
                            <td style="width:75%">Date</td>
                            <td style="width:25%"></td>
                        </tr>
                        {%for i in installments%}
                            <tr>
                                <td style="width:75%">{{i.Date.date}}</td>
                                <td style="width:25%">{{i.Amount}}</td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </td>
        </tr>

        <tr class="separator"></tr>

        <tr class="close_section">
            <td class="close_section_title">Total Installments</td>
            <td class="close_section_value">{{credit.Sent}}</td>
        </tr>
        <tr>
            <td class="separator"></td>
        </tr>
        <tr class="close_section">
            <td class="close_section_title">Balance</td>
            <td class="close_section_value">{{remaining}}</td>
        </tr>
        <tr>
            <td class="separator"></td>
        </tr>
    </tbody>
</table>

<form method="post" id="InstallmentForm">
    {%csrf_token%}
    <label for="amount">Amount</label>
    <input type="number" id="amount" name="send" value="0" required placeholder="Amount">
    <div class="but">
        <button type = 'submit' class = 'save' name="save">Save</button>
        <button type = 'button' class = 'save' onclick="closeForm();">Cancel</button>
    </div>
</form>

<script>
    <!-- form -->
    let form = document.getElementById("InstallmentForm");
    const openForm = () => form.classList.add("openForm");
    const closeForm = () => form.classList.remove("openForm");

    <!--installments table-->
    installmentsDetail = document.getElementyId("installmentsDetail");
    installmentsDropDown = document.getElementById("installmentsDropDown");
    installmentsDropUp = document.getElementById("installmentsDropUp");

    function openInstallmentsDetail(){
        installmentsDetail.classList.add("showDetail");
        installmentsDropDown.classList.add("hide");
        installmentsDropUp.classList.remove("hide");
    }
    function closeInstallmentsDetail(){
        installmentsDetail.classList.remove("showDetail");
        installmentsDropDown.classList.remove("hide");
        installmentsDropUp.classList.add("hide");
    }
</script>