{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/expense/credit/creditForm.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{%static 'css/expense/expenseMessages.css'%}" xmlns="http://www.w3.org/1999/html">
{%include "expense/expenseMessages.html"%}

<div class="Navigation">
    <button type="button" onclick="window.location.href='/credit/';">
        <i class="material-icons" style="font-size:18px">arrow_forward</i>
    </button>
</div>

<table>
    <thead>
        <tr>
            <th class="sth2">Date</th>
            <th class="sth1">Name</th>
            <th class="sth3">Quant</th>
            <th class="sth2">Amount</th>
        </tr>
    </thead>
    <tbody>
    {%for i in data%}
        <tr>
            <td class="sth2">{{i.Date.date}}</td>
            <td class="sth1">{{i.Name}}</td>
            <td class="sth3">{{i.Quantity}}</td>
            <td class="sth2">{{i.Price}}</td>
        </tr>
    {%endfor%}
    </tbody>
    <tfoot>
        <tr>
            <td class="sth2"></td>
            <td class="sth1"></td>
            <td class="sth3"></td>
            <td class="sth2">{{total}}</td>
        </tr>
    </tfoot>
</table>

<form method="post">
    {%csrf_token%}
    <label for="date">Due date</label>
    <input type="date" id="date" name="due" {% if due_date %} value="{{due_date}}" {% endif %} required>
    <div class="but">
        <button type = 'submit' class = 'save' name="save">Save</button>
    </div>
</form>