{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/expense/bufferExpense.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{%static 'css/expense/expenseMessages.css'%}" xmlns="http://www.w3.org/1999/html">
{%include "expense/expenseMessages.html"%}

<div class="Navigation">
    <button type="button" onclick="window.location.href='/expenses/';">
        <i class="material-icons" style="font-size:18px;">arrow_forward</i>
    </button>
</div>

<table>
    <thead>
        <tr>
            <th class="sth1">Item</th>
            <th class="sth2">Type</th>
            <th class="sth3">Quant</th>
            <th class="sth4">Amount</th>
        </tr>
    </thead>
    <tbody>
        {%for i in data%}
            <tr onclick="window.location.href='/edit_buffer_expense/{{i.id}}/';">
                <td class="sth1">{{i.Name}}</td>
                <td class="sth2">{{i.Type}}</td>
                <td class="sth3">{{i.Quantity}}</td>
                <td class="sth4">{{i.Price}}</td>
            </tr>
        {%endfor%}
    </tbody>
    <tfoot>
        <tr>
            <td class="sth1"></td>
            <td class="sth2"></td>
            <td class="sth3">Total</td>
            <td class="sth4">:{{total}}</td>
        </tr>
    </tfoot>
</table>

<div class="container">
    <button type="button" onclick="openForm1()" class="finish">
        finish
    </button>
    <button type="button" onclick="openForm2()" class="add">
        <i class="material-icons" style="font-size:16px;">add</i>
    </button>
</div>
<form method="post" id="form1">
    {%csrf_token%}
    <label for="type">Type</label>
    <select id="type" name="type">
       <option value="Operational">Operational</option>
        <option value="Payroll">Payroll</option>
        <option value="Stock">Stock</option>
    </select>
    <label for="PMode">PMode</label>
    <select id="PMode" name="PMode" required>
        <option value="Cash">Cash</option>
        <option value="Credit">Credit</option>
    </select>
    <div class="but">
        <button type = 'submit' class='finalise' name="finalise" onclick="closeFinalise()">Finalise</button>
    </div>
</form>
<form method="post" id="form2">
    {%csrf_token%}
    <label for="name">Item</label>
    <input type="text" id="name" name="name" required>
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" required >
    <label for="price">Total Price</label>
    <input type="number" id="price" name="price" required >
    <label for="description">Notes</label>
    <textarea id="description" name="notes" maxlength="35" placeholder="1-46 characters"></textarea>
    <div class="but">
        <button type = 'submit' class = 'save' name="save">add</button>
        <button type = 'button' class = 'cancel' onclick="closeForm2()">
            <i class="material-icons" style="font-size:16px;">close</i>
        </button>
    </div>
</form>
<script>
    let form1 = document.getElementById("form1");
    const openForm1 = () => form1.classList.add("form1");
    const closeForm1 = () => form1.classList.remove("form1");

    let form2 = document.getElementById("form2");
    const openForm2 = () => form2.classList.add("form2");
    const closeForm2 = () => form2.classList.remove("form2");
</script>