{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/expense/editExpenseTransaction.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--link for Google icons-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Edit Transaction</title>

<div class="Navigation">
    {%if back_url%}
        <button type="button" onclick="window.location.href='{{back_url}}';">
            <i class="material-icons" style="font-size:18px">arrow_forward</i>
        </button>
    {%else%}
        <button type="button" onclick="window.location.href='/expenses/';">
            <i class="material-icons" style="font-size:18px">arrow_forward</i>
        </button>
    {%endif%}
</div>

<link rel="stylesheet" type="text/css" href="{%static 'css/income/serviceIncome/serviceIncomeMessages.css'%}" xmlns="http://www.w3.org/1999/html">
{%include "income/productIncome/productIncomeMessages.html"%}


<form method="post">
    {%csrf_token%}
    <text class="info"><span class="title">Date:</span>&nbsp;&nbsp;{{expense.Date.date}}</text>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{expense.Name}}">
    <text class="info"><span class="title">Type:</span>&nbsp;&nbsp;{{expense.Type}}</text>
    <text class="info"><span class="title">PMode:</span>&nbsp;&nbsp;{{expense.PMode}}</text>
    {%if expense.Type != 'Stock'%}
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" name="quantity" value="{{expense.Quantity}}">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" value="{{expense.Price}}">
    {%else%}
        <text class="info"><span class="title">Quantity:</span>&nbsp;&nbsp;{{expense.Quantity}}</text>
        <text class="info"><span class="title">Price:</span>&nbsp;&nbsp;{{expense.Price}}</text>
    {%endif%}
    <div class="but">
        {%if prod_income.PMode != 'Credit'%}
            <button type = 'submit' name="save">Save</button>
        {%endif%}
        <button type = 'submit' name="delete">Delete</button>
    </div>
</form>