{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/expense/expenseAccounts.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Expense Accounts</title>

<link rel="stylesheet" type="text/css" href="{%static 'css/expense/expenseMessages.css'%}" xmlns="http://www.w3.org/1999/html">
{%include "expense/expenseMessages.html"%}

<div class="Navigation">
    <button type="button" onclick="openAccount()">
        <i class="material-icons" style="font-size:18px">add</i>Account
    </button>
     <button type="button" onclick="window.location.href='/expenses/';">
        <i class="material-icons" style="font-size:18px">arrow_forward</i>
    </button>
</div>

<text class="title">Accounts</text>
<div class="accounts">
    {%for account, total in accounts.items%}
        <div class="account" onclick="window.location.href='/expense_account/{{account.id}}/';">
            <text style="font-size:16px; color:rgb(54, 69, 79);">{{account.Name}}</text>
            <text style="font-size:16px;">Total &nbsp; : K{{total}}</text>
            <text class="service_count" style="font-size:12px;">Interval &nbsp;: {{account.Interval}}</text>
        </div>
    {%endfor%}
     {%for account, total in accounts.items%}
        <div class="account" onclick="window.location.href='/expense_account/{{account.id}}/';">
            <text style="font-size:16px; color:rgb(54, 69, 79);">{{account.Name}}</text>
            <text style="font-size:16px;">Total &nbsp; : K{{total}}</text>
            <text class="service_count" style="font-size:12px;">Interval &nbsp;: {{account.Interval}}</text>
        </div>
    {%endfor%}
     {%for account, total in accounts.items%}
        <div class="account" onclick="window.location.href='/expense_account/{{account.id}}/';">
            <text style="font-size:16px; color:rgb(54, 69, 79);">{{account.Name}}</text>
            <text style="font-size:16px;">Total &nbsp; : K{{total}}</text>
            <text class="service_count" style="font-size:12px;">Interval &nbsp;: {{account.Interval}}</text>
        </div>
    {%endfor%}
     {%for account, total in accounts.items%}
        <div class="account" onclick="window.location.href='/expense_account/{{account.id}}/';">
            <text style="font-size:16px; color:rgb(54, 69, 79);">{{account.Name}}</text>
            <text style="font-size:16px;">Total &nbsp; : K{{total}}</text>
            <text class="service_count" style="font-size:12px;">Interval &nbsp;: {{account.Interval}}</text>
        </div>
    {%endfor%}
</div>

<text class="title">Expenses</text>
<table class="expenses">
    <thead>
        <tr>
            <th class="sth1">Date</th>
            <th class="sth2">Expense</th>
            <th class="sth2">Type</th>
            <th class="sth3">Quant</th>
            <th class="sth4">Notes</th>
            <th class="sth11">Cash</th>
            <th class="sth11">Credit</th>
            <th class="psth">Amount</th>
        </tr>
    </thead>
    <tbody>
        {%for i in expenses%}
            <tr>
                <td class="sth1">{{i.Date.date}}</td>
                <td class="sth2">{{i.Name}}</td>
                <td class="sth2">{{i.Type}}</td>
                <td class="sth3">{{i.Quantity}}</td>
                <td class="sth4">{{i.Notes}}</td>
                <td class="sth11">
                {% if 'Cash' in i.PMode %}
                    {{i.Price}}
                {% else %}
                    0
                {% endif %}
                </td>
                <td class="sth11">
                {%if 'Credit' in i.PMode%}
                    {{i.Price}}
                {% else %}
                    0
                {% endif %}
                </td>
                {% if 'Cash' in i.PMode %}
                    <td style="color:black" class="psth">{{i.Price}}</td>
                {% else %}
                    <td style="color:red" class="psth">{{i.Price}}</td>
                {% endif %}
            </tr>
        {%endfor%}
    </tbody>
</table>

<form method="post" id="createAccount">
    {%csrf_token%}
    <text>Create expense Account</text>
    <label for="accountName">Account name</label>
    <input type="text" id="accountName" name="name" required maxlength="30">
    <label for="type">Type</label>
    <select id="type" name="type">
        <option value="Operational">Operational</option>
        <option value="Payroll">Payroll</option>
        <option value="Stock">Stock</option>
    </select>
    <label for="interval">Interval</label>
    <select id="interval" name="interval">
        <option value="Weekly">Weekly</option>
        <option value="Monthly">Monthly</option>
        <option value="Annual">Annual</option>
        <option value="Irregular">Irregular</option>
    </select>
    <label for="auto">Auto Record</label>
    <input type="checkbox" id="auto" name="auto">
    <label for="notes">Notes</label>
    <textarea id="notes" name="notes" required maxlength="148" placeholder="1-148"></textarea>
    <div class="but">
        <button type = 'submit' name="save_account">Save</button>
        <button type = 'button' onclick="closeAccount()">Cancel</button>
    </div>
</form>

<script>
    let ca = document.getElementById("createAccount");

    <!--open Account Form-->
    function openAccount(){
        ca.classList.add("open_form");
    }
    function closeAccount(){
        ca.classList.remove("open_form");
    }
</script>