{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/management/manager.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{%if messages%}
    {%for message in messages%}
        <form class="messages" id="mssg" method="post">
            {%csrf_token%}
            <button type="button"  class="close" onclick="closeMssg()">
                <i class="material-icons" style="font-size:20px; border:hidden;">close</i>
            </button>
            {%if 'info' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:blue; border:hidden;">info</i>{{message}}</text>
                <div class="message_options">
                    <button type="submit" name="set customer" value="{{income_li}}">
                        Yes
                    </button>
                    <button type="submit" name="don't set customer" value="{{income_li}}">
                        No
                    </button>
                </div>
            {%elif 'warning' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:black; border:hidden; ">warning</i>{{message}}</text>
            {%elif 'error' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:red; border:hidden;">error</i>{{message}}</text>
            {%elif 'success' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:green; border:hidden;">check</i>{{message}}</text>
            {%endif%}
        </form>
    {%endfor%}
{%endif%}

<div class="Navigation">
    <button type = 'button' onclick="window.location.href='/tax_and_tax_thresholds/';">
        tax
    </button>
    <button type = 'button' onclick="window.location.href='/subscriptionSettings/';">
        plan settings
    </button>
    <button type = 'button' onclick="window.location.href='/subscriptions/';">
        subscriptions
    </button>
</div>

<div class="upgrade_downgrade_stats">
    <div class="total_average">
        <canvas id="doughnut"></canvas>
    </div>
    <div class="information">
        <div class="info">
            <text class="title">Upgrades</text>
            <text class="content1">
                {{upgrades}}
            </text>
            {%if upgrades_perc > downgrades_perc%}
                <text class="content2" style="color:green">
                    {{upgrades_percentage}}%
                </text>
            {%elif upgrades_percentage < downgrades_percentage%}
                <text class="content2" style="color:red">
                    {{upgrades_percentage}}%
                </text>
            {%else%}
                <text class="content2">
                    {{upgrades_percentage}}%
                </text>
            {%endif%}
        </div>
        <div class="info">
            <text class="title">Downgrades</text>
            <text class="content1">
                {{downgrades}}
            </text>
            {%if downgrades_percentage > upgrades_percentage%}
                <text class="content2" style="color:red;">
                    {{downgrades_percentage}}%
                </text>
            {%else%}
                <text class="content2" style="color:green">
                    {{downgrades_percentage}}%
                </text>
            {%endif%}
        </div>
        <div class="info">
            <text class="title">Maintaining</text>
            <text class="content1">
                {{maintaining}}
            </text>
            <text class="content2">
                {{maintaining_percentage}}%
            </text>
        </div>
        <div class="info">
            <text class="title">Non-renewal</text>
            <text class="content1">
                {{non_renewal}}
            </text>
            <text class="content2">
                {{non_renewal_percentage}}%
            </text>
        </div>
    </div>
</div>

<div class="major_graphs">
    <text class="graph_title">Monthly Performance This Year</text>
    <div class="major_graph">
        <canvas id="myLChartA"></canvas>
    </div>
    <text class="graph_title">Monthly Performance Per Package</text>
    <div class="major_graph">
        <canvas id="myLChartB"></canvas>
    </div>
</div>

<table class="active_customers">
    <thead>
        <tr>
            <th class="name">Active Customers</th>
            <th class="package">Package</th>
        </tr>
    </thead>
    <tbody>
        {%for a in active_customers%}
            <tr>
                <td class="name" onclick="window.location.href='http://127.0.0.1:8000/subscriber/{{a.Business.id}}/';">
                    <img src="{{a.Business.Photo.url}}" alt="!">
                    {{a.Business.Name}}
                </td>
                <td class="package" onclick="window.location.href='http://127.0.0.1:8000/subscription/{{a.id}}/';">{{a.Plan.Name}}</td>
            </tr>
        {%endfor%}
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const doughnut = document.getElementById('doughnut');

    new Chart(doughnut, {
        type: 'doughnut',
        data: {
            labels: ['Active Users', 'Inactive Users'],
            datasets: [
                {
                    label: 'active subscribers',
                    data: [{{average_percentages.average}}, {{average_percentages.remainder}}],
                    borderWidth: 1,
                    borderColor: '#EDEADE',
                    backgroundColor:['#5D6166', '#EDEADE'],
                    radius: 90,
                },
            ]
        },
        options: {
            maintainAspectRatio: false,

        }
    });

    const lChartA = document.getElementById('myLChartA');

    new Chart(lChartA, {
        type: 'bar',
        data: {
            labels: [{%for i in overall_monthly_record.keys%} '{{i}}', {%endfor%}],
            datasets: [{
                label: 'Sales this year',
                data: [{%for i in overall_monthly_record.values%} '{{i.total}}', {%endfor%}],
                borderWidth: 1,
                borderColor: '#5D6166',
                backgroundColor: '#5D6166',
                 fill: {
                    target: 'origin',
                    above: '#5D6166',   // Area will be red above the origin
                    below: '#006994'    // And blue below the origin
                    }
                },
            ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                },
                x: {
                    beginAtZero: true
                }

            },
            plugins: {
                datalabels: {
                    formatter: (value, context) =>{
                        if (value>1000,000,000){
                            return(value/1000,000,0000) + 'B';
                        }if (value>1000,000){
                            return(value/1000,000) + 'M';
                        }if (value>1000){
                            return(value/1000) + 'k';
                        }return value;

                        console.log(value);

                    }
                }
            }
        },
        <!--plugins: [ChartDataLabels]-->
    });

    const lChartB = document.getElementById('myLChartB');

    new Chart(lChartB, {
        type: 'line',
        data: {
            labels: [{%for i in monthly_package_record.keys%} '{{i}}', {%endfor%}],
            datasets: [{
                            label: 'Basic',
                            data: [
                                   {%for i in monthly_package_record.values%}
                                        {%for a,b in i.items%}
                                            {%if a == 'Basic'%}
                                                {%for x, y in b.items%}
                                                {%if x == 'total'%}
                                                    {{y}},
                                                {%endif%}

                                                {%endfor%}
                                            {%endif%}
                                        {%endfor%}
                                    {%endfor%}
                                   ],
                            borderWidth: 1,
                            borderColor: '#5D6166',
                            backgroundColor: '#5D6166',

                        },
                        {
                            label: 'Standard',
                            data: [
                                       {%for i in monthly_package_record.values%}
                                            {%for a,b in i.items%}
                                                {%if a == 'Standard'%}
                                                    {%for x, y in b.items%}
                                                    {%if x == 'total'%}
                                                        {{y}},
                                                    {%endif%}

                                                    {%endfor%}
                                                {%endif%}
                                            {%endfor%}
                                        {%endfor%}
                                   ],
                            borderWidth: 2,
                            borderColor: '#2B3856',
                            backgroundColor: '#2B3856',

                        },
                        {
                            label: 'Advanced',
                            data: [
                                       {%for i in monthly_package_record.values%}
                                            {%for a,b in i.items%}
                                                {%if a == 'Advanced'%}
                                                    {%for x, y in b.items%}
                                                    {%if x == 'total'%}
                                                        {{y}},
                                                    {%endif%}

                                                    {%endfor%}
                                                {%endif%}
                                            {%endfor%}
                                        {%endfor%}
                                   ],
                            borderWidth: 2,
                            borderColor: 'rgb(0, 128, 128)',
                            backgroundColor: 'rgb(0, 128, 128)',

                        },
                        {
                            label: 'Premium',
                            data: [
                                       {%for i in monthly_package_record.values%}
                                            {%for a,b in i.items%}
                                                {%if a == 'Premium'%}
                                                    {%for x, y in b.items%}
                                                    {%if x == 'total'%}
                                                        {{y}},
                                                    {%endif%}

                                                    {%endfor%}
                                                {%endif%}
                                            {%endfor%}
                                        {%endfor%}
                                   ],
                            borderWidth: 2,
                            borderColor: 'rgb(63, 0, 255)',
                            backgroundColor: 'rgb(63, 0, 255)',

                        },


            ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                },
                x: {
                    beginAtZero: true,

                },

            },
            plugins: {
                datalabels: {
                    formatter: (value, context) =>{
                        if (value>1000,000,000){
                            return(value/1000,000,0000) + 'B';
                        }if (value>1000,000){
                            return(value/1000,000) + 'M';
                        }if (value>1000){
                            return(value/1000) + 'k';
                        }return value;

                        console.log(value);

                    }
                }
            }
        },
        <!--plugins: [ChartDataLabels]-->
    });

     <!-- messages -->
    let mssg = document.getElementById("mssg");

    function closeMssg(){
        mssg.classList.add("hide");
    }
</script>
