{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/management/PayAsYouEarn.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Pay As You Earn</title>
<link rel="stylesheet" type="text/css" href="{%static 'css/income/serviceIncome/serviceIncomeMessages.css'%}" xmlns="http://www.w3.org/1999/html">
{%include "income/productIncome/productIncomeMessages.html"%}

<div class="Navigation">
    <button type="button" onclick="window.location.href='/tax_and_tax_thresholds';">
        <i class="material-icons" style="font-size:18px">arrow_forward</i>
    </button>
</div>

<form method="post" class="taxForm">
    {%csrf_token%}
    <label for="name">Name</label>
    <input type="text" id="name" name="name" {%if paye%} value="{{paye.Name}}" {%else%} required {%endif%}>
    <label for="notes">Notes</label>
    <textarea id="notes" name="notes">{%if paye.Notes%} {{paye.Notes}} {%endif%}</textarea>
    <div class="but">
        <button type = 'submit' name="save_or_edit_tax">save</button>
        <button type="submit" name="delete">
            <i class="material-icons" style="font-size:18px;">delete</i>
        </button>
    </div>
</form>

<div class="thresholds">
    <table>
        <thead>
            <tr>
                <th class="sth1">Threshold</th>
                <th class="sth2">Percentage</th>
                <th class="sth3"></th>
            </tr>
        </thead>
        <tbody>
            {%for t in paye_thresholds%}
                <tr>
                    <td class="sth1">{{t.Threshold}}</td>
                    <td class="sth2">{{t.Percentage}}%</td>
                    <td class="sth3">
                        <form method="post" class="delete">
                            {%csrf_token%}
                            <button type="submit" name="remove" value="{{t.id}}">
                                <i class="material-icons" style="font-size:15px">delete</i>
                            </button>
                        </form>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    <form method="post" id="addThreshold" class="add_threshold">
    {%csrf_token%}
    <div class="input_container">
        <label for="threshold">Threshold</label>
        <input type="number" id="threshold" name="threshold" required>
    </div>
    <div class="input_container">
        <label for="percentage">Percentage</label>
        <input type="number" id="percentage" name="percentage" required>
    </div>
    <button type="submit" name="add_thresholds">
        <i class="material-icons" style="font-size:18px">add</i>
    </button>
</form>
</div>

