{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/management/subscriptions.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="Navigation">
    <button type = 'button' onclick="openSearch()">
       <i class="material-icons" style="font-size:18px; border:hidden;">search</i>
    </button>
    <button type = 'button' onclick="window.location.href='/manager/';">
       <i class="material-icons" style="font-size:18px; border:hidden;">arrow_forward</i>
    </button>
</div>


<div class="container">
    <div class="revenue_users">
        <div class="revenue">
            <text class="revenue_value">K{{total_revenue}}</text>
            <text class="title">Total Revenue</text>
        </div>
        <div class="user_count">
            {%if active_count < inactive_count%}
                <text class="count_value" style="color:red">
                    <i class="material-icons" style="font-size:18px; border:hidden;">person</i>
                    {{active_count}}
                </text>
            {%elif active_count == inactive_count%}
                <text class="count_value" style="color:gray">
                    <i class="material-icons" style="font-size:18px; border:hidden;">person</i>
                    {{active_count}}
                </text>
            {%else%}
                <text class="count_value" style="color:green">
                    {{active_count}}
                    <i class="material-icons" style="font-size:18px; border:hidden;">person</i>
                </text>
            {%endif%}
            <text class="title">Active Users</text>
        </div>
        <div class="user_count">
            <text class="count_value">
                <i class="material-icons" style="font-size:18px; border:hidden;">person</i>
                {{inactive_count}}
            </text>
            <text class="title">Inactive Users</text>
        </div>
    </div>
    <div class="subscription_stats">
        <canvas id="subscriptionStats"></canvas>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Business</th>
            <th>PLan</th>
            <th>Paid on</th>
            <th>Amount</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for a in active%}
            <tr>
                <td onclick="window.location.href='http://127.0.0.1:8000/subscriber/{{a.Business.id}}/';" style="color:#2B3856; cursor:pointer;">{{a.Business.Name}}</td>
                <td>{{a.Plan.Name}}</td>
                <td>{{a.DatePaid.date}}</td>
                <td>{{a.Plan.Price}}</td>
                <td>{{a.Start.date}}</td>
                <td>{{a.End.date}}</td>
                <td style="color:green;">{{a.Status}}</td>
            </tr>
        {%endfor%}
        {% for a in pending%}
            <tr>
                <td onclick="window.location.href='http://127.0.0.1:8000/subscriber/{{a.Business.id}}/';" style="color:#2B3856; cursor:pointer;">{{a.Business.Name}}</td>
                <td>{{a.Plan.Name}}</td>
                <td>{{a.DatePaid.date}}</td>
                <td>{{a.Plan.Price}}</td>
                <td>{{a.Start.date}}</td>
                <td>{{a.End.date}}</td>
                <td style="color:yellow;">{{a.Status}}</td>
            </tr>
        {%endfor%}
        {% for a in inactive.values%}
            <tr>
                <td onclick="window.location.href='http://127.0.0.1:8000/subscriber/{{a.Business.id}}/';" style="color:#2B3856; cursor:pointer;">{{a.Business.Name}}</td>
                <td>{{a.Plan.Name}}</td>
                <td>{{a.DatePaid.date}}</td>
                <td>{{a.Plan.Price}}</td>
                <td>{{a.Start.date}}</td>
                <td>{{a.End.date}}</td>
                <td style="color:red;">{{a.Status}}</td>
            </tr>
        {%endfor%}
    </tbody>
</table>

<div id="search" {%if search%} class="open_search" {%else%} class="search" {%endif%}>
    <button type="button" onclick="closeSearch()" class="search_close_button">
        <i class="material-icons" style="font-size:19px;">close</i>
    </button>
    <form method="post">
        {%csrf_token%}
        <input type="search" name="lookup_word" required placeholder="......name (or) id......" maxlength="60">
        <button type="submit" name="lookup">
           <i class="material-icons" style="font-size:20px;">search</i>
        </button>
    </form>
    {%if search%}
        {%for i in search%}
            <div class="result" onclick="window.location.href='/subscriber/{{i.id}}/';">
                <img src="{{i.photo.url}}" alt="unavailable">
                <text>{{i.name}}</text>
            </div>
        {%endfor%}
    {%endif%}
</div>


<script>

    <!--open search-->
    let search = document.getElementById("search");

    function openSearch(){
        search.classList.add("open_search");
    }
    function closeSearch(){
        search.classList.remove("open_search");
        search.classList.add("hide");
    }

    <!--graph-->

    const subscriptionStats = document.getElementById('subscriptionStats');

    new Chart(subscriptionStats, {
        type: 'bar',
        data: {
            labels: ['Upgrades', 'Downgrades', 'Maintaining'],
            datasets: [{
                label: 'subscription stats',
                data: [{{upgrades_perc}}, {{downgrades_perc}}, {{maintaining_perc}}],
                borderWidth: 0,
                borderColor: 'white',
                backgroundColor:['Teal', '#FF0000', 'white'],
                radius:50,
                },
            ]
        },
        options: {
        maintainAspectRatio: false,
        indexAxis: 'x',
        scales: {
            y: {
                beginAtZero: true,
                ticks: {
                    color: 'rgba(54, 69, 79, 0.8)'
                },
                display: true,
                grid: {
                    drawOnChartArea: false,
                }
            },
            x: {
                beginAtZero: true,
                ticks: {
                    color: 'rgba(54, 69, 79, 0.8)'
                },
                display: true,
                grid: {
                    drawOnChartArea: false,
                }
            }
        },
        plugins: {
            datalabels: {
                formatter: (value, context) =>{
                    if (value > 1){
                        return value + '%';
                    }else{
                        return '';
                    }
                    console.log(value);

                }
            }
        }
        },
        plugins: [ChartDataLabels]
    });
</script>