{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/management/subscription.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="Navigation">
    <button type = 'button' onclick="window.location.href='/subscriber/{{bus.id}}/';">
       <i class="material-icons" style="font-size:18px; border:hidden;">arrow_forward</i>
    </button>

</div>

{%if messages%}
    {%for message in messages%}
        <div class="messages" id="mssg">
            <button type="button"  class="close" onclick="closeMssg()">
                <i class="material-icons" style="font-size:20px; border:hidden;">close</i>
            </button>
            {%if 'info' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:blue; border:hidden;">info</i>{{message}}</text>
            {%elif 'warning' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:black; border:hidden; ">warning</i>{{message}}</text>
            {%elif 'error' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:red; border:hidden;">error</i>{{message}}</text>
            {%elif 'success' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:green; border:hidden;">check</i>{{message}}</text>
            {%endif%}
        </div>
    {%endfor%}
{%endif%}

<div class="container">
    <div class="information">
        <text class="info">Subscription</text><text class="info">: {{sub.Plan.Name}}</text>
    </div>
    <div class="information">
        <text class="info">Date Paid</text><text class="info">: {{sub.DatePaid.date}}</text>
    </div>
    <div class="information">
        <text class="info">Price</text><text class="info">: {{sub.Plan.Price}}</text>
    </div>
    <div class="information">
        <text class="info">Start</text><text class="info">: {{sub.Start.date}}</text>
    </div>
    <div class="information">
        <text class="info">End</text><text class="info">: {{sub.End.date}}</text>
    </div>
    <div class="information">
        <text class="info">Status</text><text class="info">: {{sub.Status}}</text>
    </div>
</div>

<form method="post" class="but">
    {%csrf_token%}
    {%if sub.Status == 'Active'%}
        <button type="submit" name="deactivate">
            Deactivate
        </button>
    {%elif sub.Status == 'Pending'%}
        <button type="submit" name="activate">
            Activate
        </button>
    {%else%}
        <button type="submit" name="activate">
            Deactivate
        </button>
    {%endif%}
    <button type="button" name="upgrade" onclick="openForm()">
        Upgrade
    </button>
</form>

<form method="post" class="planForm" id="planForm">
    {%csrf_token%}
    <button type="button" name="newPlan" class="close2" onclick="closeForm()">
        <i class="material-icons" style="font-size:20px; border:hidden;">close</i>
    </button>
    <select name="Plan">
        {%for p in plans%}
            {%if p.Name == sub.Plan.Name%}
                <option value="{{p.Name}}" selected>{{p.Name}}&nbsp;@&nbsp;{{p.Price}}</option>
            {%else%}
                <option value="{{p.Name}}">{{p.Name}}&nbsp;@&nbsp;{{p.Price}}</option>
            {%endif%}
        {%endfor%}
    </select>
    <button type="submit" name="upgrade" class="save">
        Save
    </button>
</form>


<script>
    <!-- messages -->
    let mssg = document.getElementById("mssg");

    function closeMssg(){
        mssg.classList.add("hide");
        window.location.href = "/subscription/{{sub.id}}/";
    }

    <!--new plan-->
    let planForm = document.getElementById("planForm");

    function openForm(){
        planForm.classList.add("openPlanForm");
    }
    function closeForm(){
        planForm.classList.remove("openPlanForm");
    }
</script>