{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/management/subscriber.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{%if messages%}
    {%for message in messages%}
        <form class="messages" id="mssg" method="post">
            {%csrf_token%}
            <button type="button"  class="close" onclick="closeMssg()">
                <i class="material-icons" style="font-size:20px; border:hidden;">close</i>
            </button>
            {%if 'info' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:blue; border:hidden;">info</i>{{message}}</text>
                <div class="message_options">
                    <button type="submit" name="confirm delete" value="{{delete_feature.feature.id}}">
                        Yes
                    </button>
                    <button type="submit" name="don't delete" value="{{delete_feature.feature.id}}">
                        No
                    </button>
                </div>
            {%elif 'warning' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:black; border:hidden; ">warning</i>{{message}}</text>
            {%elif 'error' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:red; border:hidden;">error</i>{{message}}</text>
            {%elif 'success' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:green; border:hidden;">check</i>{{message}}</text>
            {%endif%}
        </form>
    {%endfor%}
{%endif%}

<div class="Navigation">
     <button type="button" onclick="openSearch()">
        <i class="material-icons" style="font-size:19px;">search</i>
    </button>
    <button type="button" onclick="window.location.href='/manager/';">
        <i class="material-icons" style="font-size:19px;">arrow_forward</i>
    </button>
</div>

<div class="profile">
    <div class="profile_photo">
        {%if bus.Photo.url != None%}
            <img src="{{bus.Photo.url}}" id="profile-pic">
        {%else%}
            <img src="{%static '/appdefaults/add-photo4.png'%}">
        {%endif%}
    </div>
    <div class="details">
        <text><i class="material-icons" style="font-size:20px;">person</i>{{bus.Owner.get_full_name}}</text>
        <text><i class="material-icons" style="font-size:20px;">store</i>{{bus.Name}}</text>
        <text><i class="material-icons" style="font-size:20px;">label_outline</i>{{bus.Type}}</text>
        <a href="mailto:{{bus.Email}}"><i class="material-icons" style="font-size:21px;">mail</i>{{bus.Email}}</a>
        <text><i class="material-icons" style="font-size:20px;">call</i>{{bus.Contact1}}</text>
        {%if bus.Contact1%}
            <a href="https://wa.me/{{bus.Contact1}}/" class="fa fa-whatsapp">{{bus.Contact1}}</a>
        {%endif%}
        <text><span style="font-size:16px;">City:</span>{{bus.City}}</text>
        <text><span style="font-size:16px;">Country:</span>{{bus.Country}}</text>
    </div>
    <form method="post" class="but">
        {%csrf_token%}
        <button type='submit' name="Renew">
            Renew
        </button>
        <button type='button' onclick="openForm()">
            New
        </button>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>Plan</th>
            <th>Paid on</th>
            <th>Amount</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {%for h in history%}
        <tr>
            <td onclick="window.location.href='http://127.0.0.1:8000/subscription/{{h.id}}/';" style="color:#2B3856; cursor:pointer;">{{h.Plan.Name}}</td>
            <td>{{h.DatePaid.date}}</td>
            <td>{{h.Plan.Price}}</td>
            <td>{{h.Start.date}}</td>
            <td>{{h.End.date}}</td>
            <td>{{h.Status}}</td>
        </tr>
    {%endfor%}
    </tbody>
</table>


<form method="post" id="planForm">
    {%csrf_token%}
    <label>Select Plan</label>
    <select name="Plan_id" size="60" style="width:100%;">
        {%for p in plans%}
            <option value="{{p.id}}">
                =>
                {{p.Name}} @ {{p.Price}}
            </option>
        {%endfor%}
    </select>
    <div class="but">
        <button type="submit" name="newPlan" class="save">
            Save
        </button>
        <button type="button" name="newPlan" class="close2" onclick="closeForm()">
            <i class="material-icons" style="font-size:20px; border:hidden;">close</i>
        </button>
    </div>
</form>

<form method="post" id="search">
    {%csrf_token%}
    <label for="lookUpId">Look Up ID</label>
    <input type="search" id="lookUpId" name="lookup_id" required placeholder="transaction id" maxlength="60">
    <label for="transactionType">Transaction Type</label>
    <select name="transaction_type" id="transactionType">
        <option value="service income">Service Income</option>
        <option value="product income">Product Income</option>
        <option value="expense">Expense</option>
    </select>
    <div class="but">
        <button type="submit" name="lookup transaction">
           <i class="material-icons" style="font-size:20px;">search</i>
        </button>
        <button type="button" onclick="closeSearch()" class="close_search">
            <i class="material-icons" style="font-size:19px;">close</i>
        </button>
    </div>
</form>


<script>
    <!-- open search -->
    let search = document.getElementById("search");

    function openSearch(){
        search.classList.add("open_search");
    }
    function closeSearch(){
        search.classList.remove("open_search");
    }

    <!--new plan-->
    let planForm = document.getElementById("planForm");

    function openForm(){
        planForm.classList.add("openPlanForm");
    }
    function closeForm(){
        planForm.classList.remove("openPlanForm");
    }

    <!-- messages -->
    let mssg = document.getElementById("mssg");

    function closeMssg(){
        mssg.classList.add("hide");
        window.location.href="/subscriber/{{bus.id}}";
    }

</script>