.main{
width:100%;
height:100%;
border:hidden;
background:	#EDEADE;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;
border-radius:10px;
}
.sub{
width:35%;
height:65%;
border:hidden;
background:	#EDEADE;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;
border-radius:10px;
}
.Exit{
width:100%;
height:10%;
border:hidden;
background:	transparent;
display:flex;
flex-direction:column;
align-items:flex-end;
justify-content:center;
border-radius:15px;
}
.exitbutton{
height:60%;
width:10%;
border:hidden;
border-radius:15px;
color:white;
background:red;
}
.container{
width:100%;
height:90%;
border:hidden;
background:	#F9F6EE;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
border-radius:15px;
}
table{
height:90%;
width:100%;
}
td{
font-size:20;
text-align:center;
width:50%;
}
.title{
background:#2B3856;
color:white;
border-radius:15px;
}

