{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/income/productIncome/productSale.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{%if messages%}
    {%for message in messages%}
        <div class="messages" id="mssg">
            <button type="button"  class="close" onclick="closeMssg()">
                <i class="material-icons" style="font-size:18px; border:hidden;">close</i>
            </button>
            {%if 'info' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:18px;">info</i>{{message}}</text>
            {%elif 'warning' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:18px;">warning</i>{{message}}</text>
            {%elif 'error' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:18px;">error</i>{{message}}</text>
            {%elif 'success' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:18px;">check</i>{{message}}</text>
            {%endif%}
        </div>
    {%endfor%}
{%endif%}

<div class="Navigation">
    <button type="button" onclick="openForm1()">
        finish
    </button>
    <button type="button" onclick="openForm2()">
        <i class="material-icons" style="font-size:16px;">add</i>
    </button>
    <button type="button" onclick="openForm3()" >
        <i class="material-icons" style="font-size:16px;">add</i>
        Code
    </button>
    <button type="button" onclick="openInvoice()">
        Invoice
    </button>
    <button type = 'submit' name="refresh" onclick="window.location.href='/inventory/';">
        inventory
    </button>
    <button type = 'submit' name="refresh" onclick="window.location.href='/product_sale/';">
        <i class="material-icons" style="font-size:18px;">refresh</i>
    </button>
    <button type="button" onclick="window.location.href = '/product_income/'">
        <i class="material-icons" style="font-size:18px;">arrow_forward</i>
    </button>
</div>

<table>
    <thead>
        <tr>
            <th class="sth1">Item</th>
            <th class="sth2">Size</th>
            <th class="sth3">Quant</th>
            <th class="sth4">Amount</th>
        </tr>
    </thead>
    <tbody>
        {%for i in table%}
        <tr>
            <td class="sth1">
                <button type="button" class="edit" onclick="window.location.href='/edit_buffer/{{i.id}}/';">
                    {{i.Product.Name}}
                </button>
            </td>
            <td class="sth2">{{i.Product.Size}}</td>
            <td class="sth3">{{i.Quantity}}</td>
            <td class="sth4">{{i.Amount}}</td>
        </tr>
        {%endfor%}
    </tbody>
    <tfoot>
        {%if amount%}
            <tr>
                <td class="sth1"></td>
                <td class="sth2"></td>
                <td class="sth3">Paid</td>
                <td class="sth4">{{amount}}</td>
            </tr>
        {%endif%}
            <tr>
                <td class="sth1"></td>
                <td class="sth2"></td>
                <td class="sth3">Total</td>
                <td class="sth4">{{total}}</td>
            </tr>
        {%if excess%}
            <tr>
                <td class="sth1"></td>
                <td class="sth2"></td>
                <td class="sth3">Excess</td>
                <td class="sth4">{{excess}}</td>
            </tr>
        {%endif%}
    </tfoot>
</table>

<form method="post" id="invoice">
    {%csrf_token%}
    <p>Generate Invoice?</p>
    <div class="but">
        <button type = 'submit' name="invoice">Yes</button>
        <button type = 'button' onclick="closeInvoice()">
            <i class="material-icons" style="font-size:16px;">close</i>
        </button>
    </div>
</form>
<form method="post" id="form1">
    {%csrf_token%}
    <label for="Amount">Amount</label>
    <input type="number" id="Amount" name="amount" value="0" required>
    <label for="PMode">PMode</label>
    <select id="PMode" name="PMode" required>
        <option value="Cash">Cash</option>
        <option value="Credit">Credit</option>
    </select>
    <button type = 'submit' class='finalise' name="finalise" onclick="closeFinalise()">Finalise</button>
</form>

<form method="post" id="form2" {%if search_result%} class="form2" {%endif%}>
    {%csrf_token%}
    <div class="search_input">
        <input type="search" id="name" name="search name" {%if search_name%} value="{{search_name}}" {%endif%}required placeholder="product name...........">
        <button type = 'submit' name="search product">
            <i class="material-icons" style="font-size:18px;">search</i>
        </button>
    </div>
    <select name="selected product" size="8" class="select_item">
        {%for i in search_result%}
            <option value="{{i.id}}">{{i.Name}},&nbsp;&nbsp;{{i.Brand}},&nbsp;&nbsp;{{i.Size}},&nbsp;&nbsp;@&nbsp;&nbsp;{{i.Price}}</option>
        {%endfor%}
    </select>
    {%if search_result%}
        <label>Quantity</label>
        <input type="number" name="quantity" required>
    {%endif%}
    <div class="but">
        <button type = 'submit' class = 'save' name="save selected product">Add</button>
        <button type = 'button' class = 'cancel' onclick="closeForm2()">
            <i class="material-icons" style="font-size:16px;">close</i>
        </button>
    </div>
</form>
<form method="post" id="form3">
    {%csrf_token%}
    <label for="code">Code</label>
    <input type="text" id="code" name="code" required>
    <label for="quantity1">Quantity</label>
    <input type="number" id="quantity1" name="quantity" required>
    <div class="but">
        <button type = 'submit' class = 'save' name="save_by_code" onclick="closeForm3()">Save</button>
        <button type = 'button' class = 'cancel' onclick="closeForm3()">Cancel</button>
    </div>
</form>

<script>

    let invoice = document.getElementById("invoice");

    function openInvoice(){
        invoice.classList.add("invoice");
    }
    function closeInvoice(){
        invoice.classList.remove("invoice");
    }


    let form1 = document.getElementById("form1");

    function openForm1(){
        form1.classList.add("form1");
    }
    function closeForm1(){
        form1.classList.remove("form1");
    }


    let form2 = document.getElementById("form2");

    function openForm2(){
        form2.classList.add("form2");
    }
    function closeForm2(){
        form2.classList.remove("form2");
    }


    let form3 = document.getElementById("form3");

    function openForm3(){
        form3.classList.add("form3");
    }
    function closeForm3(){
        form3.classList.remove("form3");
    }


    <!-- messages -->
    let mssg = document.getElementById("mssg");

    function closeMssg(){
        mssg.classList.add("hide");
    }
</script>