{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/income/productIncome/productIncome.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="top_nav">
    <button type="button" onclick="window.location.href='/product_sale/';">
        <i class="material-icons" style="font-size:18px">add</i>
    </button>
    <button type="button" onclick="window.location.href='/invoices/';">
        Invoices
    </button>
    <button type="button" onclick="window.location.href='/product_dash/';">
        <i class="material-icons" style="font-size:18px">insert_chart</i>Report
    </button>
     <button type="button" onclick="window.location.href='/';">
        <i class="material-icons" style="font-size:18px">arrow_forward</i>
    </button>
</div>

<table>
    <thead>
        <tr>
            <th class="sth1">Date</th>
            <th class="sth2">Item</th>
            <th class="sth3">Size</th>
            <th class="sth4">Qnt</th>
            <th class="sth5">Cash</th>
            <th class="sth5">Credit</th>
            <th class="psth">Amount</th>
        </tr>
    </thead>
    <tbody>
    {%for i in table%}
        <tr>
            <td class="sth1">{{i.Date.date}}</td>
            <td class="sth2">{{i.Product.Name}}</td>
            <td class="sth3">{{i.Product.Size}}</td>
            <td class="sth4">{{i.Quantity}}</td>
            <td class="sth5">
            {% if 'Cash' in i.PMode %}
                {{i.Amount}}
            {% else %}
                0
            {% endif %}
            </td>
            <td class="sth5">
            {%if 'Credit' in i.PMode%}
                {{i.Amount}}
            {% else %}
                0
            {% endif %}
            </td>
            {% if 'Cash' in i.PMode %}
                <td style="color:rgba(54, 69, 79, 0.8);" class="psth">{{i.Amount}}</td>
            {% else %}
                <td style="color:red" class="psth">{{i.Amount}}</td>
            {% endif %}
        </tr>
    {%endfor%}
    </tbody>
</table>

<div class="bottom_nav" id="bottom_nav">
    <button type="button" onclick="window.location.href='http://127.0.0.1:8000/product_sale/';">
        <i class="material-icons" style="font-size:22px">add_circle</i>
    </button>
    <button type="button" onclick="window.location.href='/invoices/';">
        Invoices
    </button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:8000/';">
        <i class="material-icons" style="font-size:22px">home</i>
    </button>
    <button type="button" onclick="viewGraph()">
        <i class="fa fa-bar-chart" style="font-size:20px;"></i>
    </button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:8000/product_dash/';">
        <i class="fa fa-line-chart" style="font-size:20px;"></i>
    </button>
</div>


<div class="graph" id="graph">
    <div class="exit">
        <button onclick="closeGraph()"><i class="material-icons">close</i></button>
    </div>
    <text class="phone_graph_title">Sales performance in Cash/Credit</text>
    <div class="doughnut_graph">
        <canvas id="doughnutGraph"></canvas>
    </div>
    <text class="phone_graph_title">Daily Sales performance this week</text>
    <div class="bar_graph">
        <canvas id="barGraph"></canvas>
    </div>
</div>


<script>
    let graph = document.getElementById("graph");
    let container = document.getElementById("container");

        function viewGraph(){
        graph.classList.add("view-graph");
        container.classList.add("remove_container");
        }

        function closeGraph(){
        graph.classList.remove("view-graph");
        container.classList.remove("remove_container");
        }


    const doughnutGraph = document.getElementById('doughnutGraph');

    new Chart(doughnutGraph, {
        type: 'doughnut',
        data: {
            labels: ['Cash', 'Credit'],
            datasets: [{
                label: 'Sales this week',
                data: [{{cash}}, {{credit}}],
                color: '#5D6166',
                borderWidth: 0,
                borderColor: 'gray',
                backgroundColor:['#5D6166', 'black'],
                radius: 80,
                },
            ]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        font: {
                            size: 14
                        }
                    }
                }
            }

        }
    });

    const barGraph = document.getElementById('barGraph');

    new Chart(barGraph, {
        type: 'bar',
        data: {
            labels: [{%for i in dates%} '{{i.date.day}}', {%endfor%}],
            datasets: [{
                label: 'Daily sales',
                data: [{%for i in amounts%} '{{i}}', {%endfor%}],
                borderWidth: 1,
                borderColor: '#5D6166',
                backgroundColor:'#5D6166',

                },
            ]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    ticks: {
                        color: '#5D6166'
                    },
                    beginAtZero: true
                },
                x: {
                    ticks: {
                        color: '#5D6166'
                    },
                    beginAtZero: true
                }
            },
            plugins: {
                datalabels: {
                    formatter: (value, context) =>{
                        if (value>1000,000,000){
                            return(value/1000,000,0000) + 'B';
                        }if (value>1000,000){
                            return(value/1000,000) + 'M';
                        }if (value>1000){
                            return(value/1000) + 'k';
                        }return value;

                        console.log(value);

                    }
                },
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        font: {
                            size: 14
                        }
                    }
                }
            }
        },
        plugins: [ChartDataLabels]
    });
</Script>