{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/income/productIncome/productSale.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{%static 'css/income/productIncome/productIncomeMessages.css'%}" xmlns="http://www.w3.org/1999/html">
{%include "income/productIncome/productIncomeMessages.html"%}

<div class="Navigation">
    <button type="button" onclick="openFinalise()">
        finish
    </button>
    <form method="post">
        {%csrf_token%}
        <button type="submit" name="generate invoice">
            Invoice
        </button>
    </form>
    <button type="button" onclick="openSearchForm()">
        <i class="material-icons" style="font-size:16px;">search</i>
        &nbsp;product
    </button>
    <button type="button" onclick="openAddWithCode()" >
        <i class="material-icons" style="font-size:16px;">add</i>
        &nbsp;code
    </button>
    <button type = 'submit' name="refresh" onclick="window.location.href='/inventory/';">
        inventory
    </button>
    <button type = 'submit' name="refresh" onclick="window.location.href='/product_sale/';">
        <i class="material-icons" style="font-size:18px;">refresh</i>
    </button>
    <button type="button" onclick="window.location.href = '/product_income/'">
        <i class="material-icons" style="font-size:18px;">arrow_forward</i>
    </button>
</div>

<table>
    <thead>
        <tr>
            <th class="sth1">Item</th>
            <th class="sth2">Size</th>
            <th class="sth3">Quant</th>
            <th class="sth4">Amount</th>
        </tr>
    </thead>
    <tbody>
        {%for i in table%}
        <tr>
            <td class="sth1">
                <button type="button" class="edit" onclick="window.location.href='/edit_product_sale/{{i.id}}/';">
                    {{i.Product.Name}}
                </button>
            </td>
            <td class="sth2">{{i.Product.Size}}</td>
            <td class="sth3">{{i.Quantity}}</td>
            <td class="sth4">{{i.Amount}}</td>
        </tr>
        {%endfor%}
    </tbody>
    <tfoot>
        {%if amount%}
            <tr>
                <td class="sth1"></td>
                <td class="sth2"></td>
                <td class="sth3">Paid</td>
                <td class="sth4">{{amount}}</td>
            </tr>
        {%endif%}
            <tr>
                <td class="sth1"></td>
                <td class="sth2"></td>
                <td class="sth3">Total</td>
                <td class="sth4">{{total}}</td>
            </tr>
        {%if excess%}
            <tr>
                <td class="sth1"></td>
                <td class="sth2"></td>
                <td class="sth3">Excess</td>
                <td class="sth4">{{excess}}</td>
            </tr>
        {%endif%}
    </tfoot>
</table>

<form method="post" id="invoice">
    {%csrf_token%}
    <p>Generate Invoice?</p>
    <div class="but">
        <button type = 'submit' name="invoice">Yes</button>
        <button type = 'button' onclick="closeInvoice()">
            No
        </button>
    </div>
</form>
<form method="post" id="finaliseForm">
    {%csrf_token%}
    <label for="Amount">Amount</label>
    <input type="number" id="Amount" name="amount" value="0" required>
    <label for="PMode">PMode</label>
    <select id="PMode" name="PMode" required>
        <option value="Cash">Cash</option>
        <option value="Credit">Credit</option>
    </select>
    <div class="discount">
        <label for="discount">Discount</label>
        <input type="checkbox" id="discount" name="discount">
    </div>
    <button type = 'submit' name="finalise" onclick="closeFinalise()">Finalise</button>
</form>

<form method="post" id="searchForm" {%if search_result%} class="search_form" {%endif%}>
    {%csrf_token%}
    <div class="search_input">
        <input type="search" id="name" name="search name" {%if search_name%} value="{{search_name}}" {%endif%}required placeholder="product name...........">
        <button type = 'submit' name="search product">
            <i class="material-icons" style="font-size:18px;">search</i>
        </button>
    </div>
    <select name="selected product" size="8" class="select_item">
        {%for i in search_result%}
            <option value="{{i.id}}">{{i.Name}},&nbsp;&nbsp;{{i.Brand}},&nbsp;&nbsp;{{i.Size}},&nbsp;&nbsp;@&nbsp;&nbsp;{{i.Price}}</option>
        {%endfor%}
    </select>
    {%if search_result%}
        <label>Quantity</label>
        <input type="number" name="quantity" required>
    {%endif%}
    <div class="but">
        <button type = 'submit' class = 'save' name="save selected product">Add</button>
        <button type = 'button' class = 'cancel' onclick="closeSearchForm()">
            <i class="material-icons" style="font-size:16px;">close</i>
        </button>
    </div>
</form>
<form method="post" id="addWithCode">
    {%csrf_token%}
    <label for="code">Code</label>
    <input type="text" id="code" name="code" required>
    <label for="quantity1">Quantity</label>
    <input type="number" id="quantity1" name="quantity" required>
    <div class="but">
        <button type = 'submit' class = 'save' name="save_by_code">add</button>
        <button type = 'button' class = 'cancel' onclick="closeAddWithCode()">cancel</button>
    </div>
</form>

<script>

    let invoice = document.getElementById("invoice");

    const openInvoice = () => invoice.classList.add("invoice");
    const closeInvoice = () => invoice.classList.remove("invoice");

    let finaliseForm = document.getElementById("finaliseForm");

    const openFinalise = () =>  finaliseForm.classList.add("finalise");
    const closeFinalise = () => finaliseForm.classList.remove("finalise");

    let searchForm = document.getElementById("searchForm");

    const openSearchForm = () => searchForm.classList.add("search_form");
    const closeSearchForm = () => searchForm.classList.remove("search_form");

    let addWithCode = document.getElementById("addWithCode");

    const openAddWithCode = () => addWithCode.classList.add("add_with_code");
    const closeAddWithCode = () =>  addWithCode.classList.remove("add_with_code");

</script>