body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    row-gap:20px;
    position:relative;
    width:100wh;
    height:100vh;
    margin:0;
    background:#EDEADE;
    border-radius:10px;
    overflow:hidden;
}

h1{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    align-self:center;
    position:relative;
    width:90px;
    height:auto;
    padding:10px;
    margin-left:30px;
    color:rgb(54, 69, 79);
    font-weight:500;
    border-left:1px solid rgb(54, 69, 79);
    border-right:1px solid rgb(54, 69, 79);
    border-radius:50%;
}

form{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-evenly;
    position:relative;
    width:350px;
    height:550px;
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:15px;
    padding-bottom:15px;
}

form label{
    color:rgb(54, 69, 79);
    font-size:15px;
}

form input{
    width:100%;
    height:35px;
    font-size:14px;
    color:#5D6166;
    background:#F9F6EE;
    border:1px solid #EDEADE;
    border-radius:10px;
}
.duo_input{
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:relative;
    width:100%;
    height:auto;
}
.duo_input input{
    width:45%;
}

form button{
    display:flex;
    align-items:center;
    justify-content:space-around;
    align-self:center;
    position:relative;
    width:90px;
    height:30px;
    color:rgb(54, 69, 79);
    font-size:15px;
    background:transparent;
    border:1px solid #5D6166;
    border-radius:10px;
}
form button:hover{
    color:white;
    background:#5D6166;
}
@media(max-width:768px){
    body{
        height:auto;
        overflow-y:scroll;
    }

    h1{
        font-size:20px;
        width:40px;
    }

    form label{
        font-size:14px;
    }
    form input{
        font-size:13px;
    }

    form button{
        font-size:14px;
    }

}
@media(max-width:430px){
    body{
        overflow:hidden;
    }

    .messages{
        width:90%;
        height:20%;
    }
    form{
        width:90%;
    }
}