body{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:center;
    gap:10px;
    position:relative;
    width:100vw;
    height:100vh;
    background:#EDEADE;
    border-radius:10px;
    overflow:hidden;
}

.Navigation{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:10px;
    position:relative;
    width:80%;
    height:32px;
    border-radius:10px;
}
.Navigation button{
    display:flex;
    align-items:center;
    justify-content:center;
    width:auto;
    height:80%;
    color:rgb(54, 69, 79);
    padding:5px;
    background:transparent;
    box-shadow:5px 5px 15px rgba(10, 10, 10, 0.3);
    border:hidden;
    border-radius:10px;
}
.Navigation button:hover{
    color:white;
    background:#5D6166;
}

table{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    position:relative;
    width:700px;
    height:390px;
    background:#F9F6EE;
    border-radius:10px;
    box-shadow:5px 5px 25px rgba(10, 10, 10, 0.3);
    overflow-y:scroll;
}
thead{
    position:sticky;
    top:0px;
    z-index:1;
    width:100%;
    height:30px;
    background:#5D6166;
}
thead tr{
    display:flex;
    align-items:center;
    justify-content:space-around;
    position:relative;
    width:100%;
    height:30px;
    border-bottom:1px solid #EDEADE;
}
th{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    color:white;
    font-size:15px;
    font-weight:1000;
    margin-left:2px;
}
.sth1{
    width:28%;
    height:100%;
}
.sth2{
    width:60%;
    height:100%;
}
.sth3{
    width:8%;
    height:100%;
}

tbody{
    font-size:14px;
    width:100%;
}
tbody tr{
    display:flex;
    align-items:center;
    justify-content:space-around;
    position:relative;
    width:100%;
    height:40px;
    border-bottom:1px solid #EDEADE;
}
td{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    color:rgb(54, 69, 79);
    font-size:14px;
    margin-left:2px;
}
td form{
    box-shadow:none;
}

form{
    display:none;
    visibility:hidden;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;
    position:absolute;
    z-index:3;
    top:10%;
    width:30%;
    height:45%;
    padding-left:10px;
    padding-right:10px;
    padding-top:15px;
    padding-bottom:15px;
    background:#EDEADE;
    box-shadow:5px 5px 15px rgba(10, 10, 10, 0.3);
    border-radius:10px;
}
form label{
    color:rgb(54, 69, 79);
    font-size:16px;
}
.packageForm{
    display:flex;
    visibility:visible;
    position:relative;
    z-index:0;
    top:0;
    width:350px;
    height:360px;
}
form text{
    align-self:center;
    color:#2B3856;
    font-size:17px;
}
form label{
    color:rgb(54, 69, 79);
    font-size:16px;
}
form input{
    width:100%;
    height:32px;
    color:#5D6166;
    font-size:14px;
    background:#F9F6EE;
    border:1px solid #EDEADE;
    border-radius:10px;
}
form select{
    width:auto;
    height:32px;
    color:#5D6166;
    font-size:14px;
    background:#F9F6EE;
    border:1px solid #F9F6EE;
    border-radius:10px;
}
form select:focus{
    outline:none;
}
.packageSelect{
    width:100%;
    height:auto;
}

form select option{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:32px;
    margin-top:4px;
    font-size:14px;
}
form select option:hover{
    color:white;
    background:#5D6166;
}
form textarea{
    width:100%;
    height:75px;
    color:#5D6166;
    font-size:14px;
    background:#F9F6EE;
    border:1px solid #EDEADE;
    border-radius:10px;
}
.addService{
    display:flex;
    visibility:visible;
    width:350px;
    height:340px;
}
.but{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:100%;
    height:30px;
    border-radius:10px;
}
.but button{
    display:flex;
    align-items:center;
    justify-content:center;
    min-width:80px;
    max-width:auto;
    height:80%;
    color:rgb(54, 69, 79);
    font-size:15px;
    padding:2px;
    background:transparent;
    border:1px solid #5D6166;
    border-radius:10px;
}
.but button:hover{
    color:white;
    background:#5D6166;
}

.delete{
    display:flex;
    visibility:visible;
    align-items:center;
    justify-content:center;
    position:relative;
    z-index:0;
    top:7px;
    width:100%;
    height:100%;
    padding:0px;
    background:transparent;
}
.delete button{
    background:transparent;
    border:hidden;
    color:rgb(54, 69, 79);
}
.delete button:hover{
    color:red;
}

@media(max-width:1000px){
    body{
        height:auto;
        overflow-y:scroll;
    }

    .message{
        font-size:13px;
    }

    .packageForm{
        width:300px;
        height:340px;
    }

    form label{
        font-size:14px;
    }
    form input{
        font-size:13px;
    }
    form select{
        font-size:13px;
    }
    form select option{
        font-size:13px;
    }
    form text{
       font-size:15px;
    }

    table{
        width:580px;
        height:370px;
    }
    th{
        font-size:14px;
    }
    td{
        font-size:13px;
    }

    .but button{

        font-size:13px;
    }
}

@media(max-width:768px){
    body{
        justify-content:flex-start;
        overflow-y:scroll;
    }

     .messages{
        width:90%;
        margin-left:5px;
    }

    .packageForm{
        width:300px;
        margin-left:5px;
    }

    table{
        align-self:center;
        width:98%;
        height:350px;
        margin-left:5px;
    }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F9F6EE;
  border-radius:0px 10px 10px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(54, 69, 79, 0.5);
  border-radius:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 69, 79, 0.8);
}