{%load static%}
{%load widget_tweaks%}
<link rel="stylesheet" type="text/css" href="{% static 'css/createpost.css'%}" xmlns="http://www.w3.org/1999/html">
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="main">
    <div class="Navigation">
        <button type = 'button' class = 'bcancel' onclick="window.location.href='/post/';">
          <i class="material-icons" style="">arrow_back</i>
        </button>
    </div>
    <div class="formcont">
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="inputs1">
                <input type="text" required id="Title" name="title" class="title" placeholder="Title">
            </div>
            <div class="inputs2">
                <label for="Images"><img src="{%static '/appdefaults/add-photo4.png/'%}"></label>
                <input required type="file" id="Images" name="images" multiple class="form-control-file">
            </div>
            <div class="inputs3">
                <textarea id="Description" required name="description" maxlength="290" placeholder="Description"></textarea>
            </div>
            <button type = 'submit' name="save">Save</button>
        </form>
    </div>
</div>