{%load static%}
<div class="graph">
    <div class="Dchart">
        <canvas id="myChart" width="180%" height="30%"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Sent','Expected','Overdue'],
      datasets: [{
        label:'',
        data: [{{sent}}, {{expected}}, {{overdue}}],
        borderWidth: 1,
        backgroundColor:['green','#00A36C','#282C35'],
        hoverBackgroundColor:'#191970'
      },
      ]

    },
    options: {
      scales: {
        x: {
          beginAtZero: true
        }
      },
      indexAxis: 'y',
    }
  });
</script>