{%load static%}
{% load django_htmx %}
<link rel="stylesheet" type="text/css" href="{% static 'css/market.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--link for Google icons-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--link for htmx-->
<script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js"></script>

<div class="Navigation">
    <div class="store_name" id="store">
        <p>MAT</p>
    </div>
    <div class="nav_but" id="nav_but">
        <button type="button" onclick="openSearch()">
            <i class="material-icons" style="font-size:21px;">search</i>
        </button>
        <button type="button" onclick="openCategories()">
            Categories
        </button>
        {%if client%}
        {%else%}
            <button type="button" class="sign_up" onclick="window.location.href='/login/';">
                <i class="material-icons" style="font-size:20px;">person</i>
                Sign up
            </button>
        {%endif%}
        <button type="button" onclick="history.go(-1);">
            <i class="material-icons" style="font-size:21px;">arrow_forward</i>
        </button>
    </div>
    <button type="button" class="open_nav" onclick="openPhoneNav()" id="open_nav">
        <i class="material-icons" style="font-size:25px;">list</i>
    </button>
</div>
<div class="phone_nav" id="phone_nav">
    <button type="button" onclick="closePhoneNav()" id="close_nav">
        <i class="material-icons" style="font-size:20px;">close</i>
    </button>
    <button type="button" onclick="window.location.href='/';">
        <i class="material-icons" style="font-size:19px;">arrow_forward</i>
    </button>
    <button type="button" onclick="openSearch()">
        <i class="material-icons" style="font-size:19px;">search</i>
    </button>
    <button type="button" onpointerover="openCategories()">
        Categories
    </button>
    {%if client%}
    {%else%}
        <button type="button" class="sign_up" onclick="window.location.href='/login/';">
            <i class="material-icons" style="font-size:20px;">person</i>
            Sign up
        </button>
    {%endif%}
</div>

<form method="post" class="Categories" id="Categories">
    {%csrf_token%}
    <div class="close_categories">
        <button type="button" onclick="closeCategories()">
            <i class="material-icons" style="font-size:19px;">close</i>
        </button>
    </div>
    <div class="cat_list">
        {%for name, icon in group1.items%}
            <button type="submit" name="view_type" value="{{name}}">
                <i class="material-icons">{{icon}}</i>
                {{name}}
            </button>
        {%endfor%}
    </div>
    <div class="cat_list">
        {%for name, icon in group2.items%}
            <button type="submit" name="view_type" value="{{name}}">
                <i class="material-icons" >{{icon}}</i>
                {{name}}
            </button>
        {%endfor%}
    </div>
    <div class="cat_list">
        {%for name, icon in group3.items%}
            <button type="submit" name="view_type" value="{{name}}">
                <i class="material-icons" >{{icon}}</i>
                {{name}}
            </button>
        {%endfor%}
    </div>
</form>

<form method="post" id="search" {%if search1 and search2 or search1 or search2%} class="open_search" {%else%} class="search" {%endif%}>
    {%csrf_token%}
    <button type="submit" {%if lookup_word%} name="close_search" {%else%} onclick="closeSearch()" {%endif%} class="close_search">
        <i class="material-icons" style="font-size:19px;">close</i>
    </button>
    <div class="search_input">
        <input type="search" name="lookup_word" {%if lookup_word%} value="{{lookup_word}}" {%endif%} placeholder="search......" maxlength="60">
        <button type="submit" name="lookup_word"  onclick="getLocation()">
           <i class="material-icons" style="font-size:22px;">search</i>
        </button>
    </div>
    <div class="results">
        {%if search1%}
            {%for i in search1%}
                <div class="result" onclick="window.location.href='/view_product/{{i.id}}/';">
                    <img src="{{i.photo.url}}" alt="unavailable">
                    <text>{{i.name}}</text>
                </div>
            {%endfor%}
        {%endif%}
        {%if search2%}
            {%for i in search2%}
                <div class="result" onclick="window.location.href='/category/{{i.id}}/';">
                    <img src="{{i.photo.url}}" alt="unavailable">
                    <text>{{i.name}}</text>
                </div>
            {%endfor%}
        {%endif%}
    </div>
</form>

<div class="opening">
    <img src="{% static '/appdefaults/shopping-carts_1280.jpg' %}" alt="">
    <div class="opening_content">
        <p>FIND PRODUCTS FROM LOCAL STORES</p>
    </div>
</div>

{%for key, value in billboard.items%}
    <div class="category">
        <p>{{key|upper}}</p>
        {%for v in value%}
            <div class="example_normal" onclick="window.location.href='/catalogue/{{v.Business.id}}/';">
                <img src="{{v.Photo.url}}" alt="add image">
                <text>{{v.Name}}</text>
            </div>
        {%endfor%}
    </div>
{%endfor%}

<div class="products" id="products" >
    <p>Latest Products</p>
    {%for product in content%}
        <div class="product"  onclick="window.location.href = '/view_product/{{product.product_id}}/';">
            <div class="image_name">
                <img src="{{product.store_photo.url}}" alt="add image">
                <text>{{product.store_name}}</text>
            </div>
            <div class="product_image" >
                <img src="{{product.product_photo.url}}" alt="add image">
            </div>
            <div class="product_detail">
                <text class="name">{{product.product_name}}</text>
                <text class="price">{{product.product_price}}</text>
                <text class="cut_description" id="cut">
                    {{product.product_description|slice:":70"}}
                    {%if product.product_description|length|add:0 > 70 %}
                    <span onclick="fullDescription()" class="read_more">...read more</span>
                    {%endif%}
                </text>
            </div>
        </div>
    {%endfor%}
    <div class="page_nav">
        <div class="prev_next">
            <!--Previous Page-->
            <a {%if content.has_previous%} href="?page={{content.previous_page_number}}" {%else%} {%endif%}>
                <i class="material-icons" style="font-size:40px;">arrow_left</i>
            </a>

            <text>Page <span style="color:#2B3856;">{{content.number}}</span> of
                <span style="color:#2B3856;">{{content.paginator.num_pages}}</span>
            </text>

            <!--Previous Page-->
            <a {%if content.has_next%} href="?page={{content.next_page_number}}" {%else%} {%endif%}>
                <i class="material-icons" style="font-size:40px;">arrow_right</i>
            </a>
        </div>
    </div>

     <!--
        {% if content.has_next and forloop.last %}
            <span hx-get="{% url 'market' %}?page={{ content.next_page_number }}" hx-swap="beforeend"
                  hx-target="#products" hx-select=".value" hx-trigger="revealed" hx-headers='{"X-CSRFToken": "{{ csrf_token }}" }'></span>
        {% endif %}
     -->
</div>
<div class="footer">
    <p class="company_name">MAT</p>
    <div class="links">
        <a href="mailto:stevenderrickmuduzi@gamil.com"><i class="material-icons" style="font-size:21px;">mail</i></a>
        <a href="http://www.instagram.com/muduzie/" class="fa fa-instagram"></a>
        <a href="http://www.facebook.com/derrickken.muduzie/" class="fa fa-facebook"></a>
        <a href="http://" class="fa fa-linkedin"></a>
        <a href="https://wa.me/994586120/" class="fa fa-whatsapp"></a>
    </div>
    <div class="copyright">
        <text>copyright &copy; 2024 Muduzi Inc</text>
        <p onclick="window.location.href='/terms';">Terms of Service</p>
        <p onclick="window.location.href='/company';">Company</p>
    </div>
</div>

<script>
    <!--click on company name-->
    let store = document.getElementById("store");
    store.addEventListener('click', goTo);

    function goTo(){
        window.location.href='/market/';
    }

    <!--phone navigation-->
    let phone_nav =  document.getElementById("phone_nav");
    let open_nav =  document.getElementById("open_nav");
    let close_nav =  document.getElementById("close_nav");

    function openPhoneNav(){
        phone_nav.classList.add("open_phone_nav");
        open_nav.classList.add("hide");
        close_nav.classList.add("open_nav");
    }

    function closePhoneNav(){
        phone_nav.classList.remove("open_phone_nav");
        open_nav.classList.remove("hide");
        close_nav.classList.remove("open_nav");
    }

    <!--open search-->
    let search = document.getElementById("search");

    function openSearch(){
        phone_nav.classList.remove("open_phone_nav");
        close_nav.classList.remove("open_nav");
        categories.classList.remove("open_categories");
        search.classList.add("open_search");
    }
    function closeSearch(){
        search.classList.remove("open_search");
    }

    <!--view categories-->
    let categories = document.getElementById("Categories");

    function openCategories(){
        phone_nav.classList.remove("open_phone_nav");
        close_nav.classList.remove("open_nav");
        search.classList.remove("open_search");
        categories.classList.add("open_categories");
    }
    function closeCategories(){
        categories.classList.remove("open_categories");
        open_nav.classList.remove("hide");
    }

    <!--product-->


</script>

<!-- onpointerover="openCategories()"
     onpointerleave="closeCategories()"
-->