{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/test.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="compInfo_hide" id="compInfo">
    <h1>MBSAPP</h1>
    <h3>This Website is provided as part of the subscription package of MBSAPP</h3>
    <h4>MBSAPP is a robust Web app that was made for small business owners tha provides automation of key business processes suck as book keeping, inventory management
    at a mid-level, mid-level statement generation, business health monitoring,
    and advertisement using this app.</h4>
    <div class="find_us">
        <a href="http://{{user.profile.Instagram}}" class="fa fa-instagram"></a>
        <a href="http://{{user.profile.Facebook}}}" class="fa fa-facebook"></a>
        <button type="button" onclick="closeInfo()" class="close_info">
            <i class="material-icons" style="font-size:35px;">keyboard_double_arrow_down</i>
        </button>
        <a href="http://{{user.profile.Twitter}}" class="fa fa-linkedin"></a>
        <a href="http://{{user.profile.Twitter}}" class="fa fa-whatsapp"></a>
    </div>

</div>