{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/setSupplier.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <div class="messages" id="mssg">
            <button type="button"  class="close" onclick="closeMssg()">
                <i class="material-icons" style="font-size:20px; border:hidden;">close</i>
            </button>
            {%if 'info' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:blue; border:hidden;">info</i>{{message}}</text>
            {%elif 'warning' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:black; border:hidden; ">warning</i>{{message}}</text>
            {%elif 'error' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:red; border:hidden;">error</i>{{message}}</text>
            {%elif 'success' in message.tags%}
                <text class="message"><i class="material-icons" style="font-size:20px; color:green; border:hidden;">check</i>{{message}}</text>
            {%endif%}
        </div>

<div class="Navigation">
    <button type="button" onclick="history.go(-1)">
        <i class="material-icons" style="font-size:18px">arrow_forward</i>
    </button>
</div>


<div class="new_select">
    <text> Press 'New' to create a new supplier profile or press 'Select' to select an existing profile</text>
    <button type="button" onclick="openNewSupplier()">
        New
    </button>
    <button  type="button" onclick="openSelectSupplier()">
        Select
    </button>
</div>
<form method="post" id="newSupplier">
    {%csrf_token%}
    <text>Enter customer information</text>
    <label for="Name">Name</label>
    <input type="text" id="Name" name="name" required>
    <label for="Email">Email</label>
    <input id="Email" type="email" name="email" required>
    <label for="Contact">Contact</label>
    <input type="text" id="Contact" name="contact"  required maxlength="15">
    <label for="Notes">Notes</label>
    <textarea id="Notes" name="notes" maxlength="245"  placeholder="1-250"></textarea>
    <div class="but">
        <button type = 'submit' name="newSupplier" onclick="closeNewSupplier()">Save</button>
        <button type = 'button' onclick="closeNewSupplier()">Cancel</button>
    </div>
</form>
<form method="post" id="selectSupplier" {% if search_result %} class="selectSupplier" {% endif %}>
    {%csrf_token%}
    <text>Select Supplier / type in name to search then select</text>
    <input type="search" name="search" placeholder="type in the name to look for........">
    <label for="supplierList">Select Supplier</label>
    <select id="supplierList" name="supplier" size="5">
        {%if search_result%}
            {%for s in search_result%}
                <option value="{{s.id}}">{{s.Name}}</option>
            {%endfor%}
        {%else%}
            {%for s in suppliers%}
                <option value="{{s.id}}">{{s.Name}}</option>
            {%endfor%}
        {%endif%}
    </select>
    <label for="Notes1">Notes</label>
    <textarea id="Notes1" name="notes" maxlength="245"  placeholder="1-250"></textarea>
    <div class="but">
        <button type = 'submit' name="selectedSupplier" onclick="closeSelectSupplier()">Ok</button>
        <button type = 'button' onclick="closeSelectSupplier()">Cancel</button>
    </div>
</form>
<script>
    let supplier = document.getElementById('newSupplier');
    let existing = document.getElementById('selectSupplier');

    function openNewSupplier(){
        supplier.classList.add('newSupplier');
    }
    function closeNewSupplier(){
        supplier.classList.remove('newSupplier');
    }

    function openSelectSupplier(){
        existing.classList.add('selectSupplier');
    }
    function closeSelectSupplier(){
        existing.classList.remove('selectSupplier');
    }

     <!-- messages -->
    let mssg = document.getElementById("mssg");

    function closeMssg(){
        mssg.classList.add("hide");
    }
</script>