{%load static%}
{%load widget_tweaks%}
<link rel="stylesheet" type="text/css" href="{% static 'css/viewpost.css'%}" xmlns="http://www.w3.org/1999/html">
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="main">
    <div class="Navigation">
        <button type = 'button' class = 'action' onclick="window.location.href='/post/';">
            <i class="material-icons" style="font-size:15px;">arrow_back</i>
            Back
        </button>
    </div>
    <div class="container">
        <div class="post">
            <div class="postheader">
                <div class="profphoto">
                    <button type="button" class="propic" onclick="window.location.href='/catalogue/';">
                        {%if post.Bussiness.photo.url != None%}
                        <img src="{{post.Bussiness.photo.url}}" alt="Avatar" width=30 height=80  class="rounded-circle">
                        {%else%}
                        <text>Image not available</text>
                        {%endif%}
                    </button>
                </div>
                <div class="Bname">
                    <text class="bname">{{post.Bussiness.Name}}</text>
                </div>
                <div class="Ptitle">
                    <text class="ptitle">{{post.Title}}</text>
                    <text>{{post.date_of_creation}}</text>
                </div>
                <div class="img_count">
                    <text class="img_count_t">{{img_count}} Images</text>
                </div>
            </div>
            <div class="postphoto">
                {%for x in photos%}
                {%if x.Post == post%}
                <img src="{{x.photo.url}}" alt="{{p.Description|truncatewords:30}}" class="photo">
                {%endif%}
                {%endfor%}
            </div>
        </div>
        <div class="postdescription">
            <article class="description">
                {{post.Description|truncatewords:40}}
            </article>
        </div>
    </div>
</div>