body{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:space-evenly;
    position:relative;
    width:100wh;
    height:100vh;
    background:#EDEADE;
    border-radius:10px;
    overflow:hidden;
}

/*messages*/
.messages{
    display:flex;
    visibility:visible;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    position:fixed;
    z-index:7;
    row-gap:10px;
    width:600px;
    height:90px;
    padding-top:10px;
    padding-bottom:15px;
    padding-right:10px;
    padding-left:10px;
    background:rgb(230, 230, 250, 0.95);
    border-radius:10px;
}
.hide{
    display:none;
    visibility:hidden;
}
.message{
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    width:70%;
    height:20%;
    color:#2B3856;
    font-size:16px;;
}
.close{
    align-self:flex-end;
    background:transparent;
    border:hidden;
}
.close:hover{
    cursor:pointer;
    color:white;
    background:#2B3856;
}

.messages button:hover{
    color:rgb(230, 230, 250, 0.95);
    background:#2B3856;
}

.message_options{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:250px;
    height:30px;
    border-radius:10px;
}
.message_options button{
    display:flex;
    align-items:center;
    justify-content:center:
    position:relative;
    width:auto;
    height:auto;
    color:#2B3856;
    padding:5px;
    background:transparent;
    border:1px solid #2B3856;
    border-radius:10px;
}


/*navigation*/
.Navigation{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:10px;
    position:relative;
    width:97%;
    height:30px;
    border-radius:10px;
}
.Navigation button{
    display:flex;
    align-items:center;
    justify-content:center;
    width:auto;
    height:80%;
    color:rgb(54, 69, 79);
    padding:5px;
    background:transparent;
    border:hidden;
    border-radius:10px;
    box-shadow:2px 2px 10px rgba(10, 10, 10, 0.4);
}
.Navigation button:hover{
    color:white;
    background:#5D6166;
}


.upgrade_downgrade_stats{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;
    position:relative;
    width:25%;
    height:92%;
    background:transparent;
    transition: width 2s, height 3s;
    border-radius:10px;
}
.total_average{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-around;
    position:relative;
    width:100%;
    height:50%;
    background:#F9F6EE;
    border-radius:10px;
}

/*information*/
.information{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    position:relative;
    width:100%;
    height:48%;
    border-radius:10px;
}
.info{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;
    position:relative;
    width:43%;
    height:38%;
    background:#F9F6EE;
    padding:10px;
    border-radius:10px;
}
text{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    position:relative;
    width:95%;
}
.title{
    height:15px;
    color:#5D6166;
    font-size:15px;
    padding:5px;
    background:rgba(10, 100, 10, 0.1);
    border-radius:10px;
}
.total{
    color:#F9F6EE;
    font-size:20px;
}
.content1{
    color:#2B3856;
    font-size:35px;
}
.content2{
    color:rgb(54, 69, 79);
    font-size:18px;
}

.major_graphs{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    position:relative;
    width:45%;
    height:90%;
    background:#F9F6EE;
    transition: width 2s, height 3s;
    border-radius:10px;
}

.major_graph{
    width:95%;
    height:45%;
    padding:5px;
}

.graph_title{
    display:flex;
    align-items:center;
    justify-content:space-around;
    position:relative;
    width:auto;
    height:15px;
    color:#5D6166;
    font-size:15px;
    padding:5px;
    background:rgba(10, 100, 10, 0.1);
    border-radius:10px;
}


/*table*/
.active_customers{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    position:relative;
    width:25%;
    height:90%;
    padding-left:10px;
    padding-right:10px;
    background:#F9F6EE;
    border-radius:10px;
    overflow-y:scroll;
}

thead{
    position:sticky;
    top:0;
    z-index:1;
    width:100%;
    height:35px;
    border-bottom:1px solid #EDEADE;
}

th{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    color:rgb(54, 69, 79, 0.8);
    font-size:15px;
    font-weight:1000;
}

.name{
    width:80%;
}
.package{
    width:20%;
}
tbody{
    width:100%;
}
tr{
    display:flex;
    align-items:center;
    justify-content:space-around;
    position:relative;
    width:100%;
    height:35px;
}
td{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    column-gap:5px;
    height:100%;
    color:rgb(54, 69, 79, 0.8);
    font-size:14px;
    cursor:hand;
}
.name img{
    object-fit:cover;
    height:30px;
    width:30px;
    border-radius:50%;
}

@media(max-width:1000px){
    body{
        flex-direction:column;
        align-items:center;
        justify-content:space-around;
        row-gap:15px;
        height:auto;
        overflow-y:scroll;
    }

    .Navigation{
        width:95%;
    }
    .upgrade_downgrade_stats{
        flex-direction:row;
        flex-wrap:wrap;
        align-items:center;
        width:95%;
        height:300px;
    }

    .total_average{
        width:40%;
        height:97%;
    }
    .information{
        width:57%;
        height:100%;
    }
    .info{
        width:44%;
        height:40%;
    }
    .major_graphs{
        width:95%;
        height:730px;
    }
    .major_graph{
        height:40%;
    }

    .active_customers{
        width:95%;
        height:340px;
    }
}

@media(max-width:430px){
    .Navigation{
        width:97%;
    }

     .upgrade_downgrade_stats{
        flex-direction:column;
        align-items:center;
        width:97%;
        height:650px;
    }

    .total_average{
        width:100%;
        height:50%;
    }
    .information{
        width:100%;
        height:47%;
    }
    .info{
        width:42%;
        height:40%;
    }

    .major_graphs{
        width:98%;
        height:900px;
    }

    .active_customers{
        width:98%;
        height:500px;
    }

}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F9F6EE;
  border-radius:0px 10px 10px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(54, 69, 79, 0.5);
  border-radius:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 69, 79, 0.8);
}