body{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:space-evenly;
    position:relative;
    width:100wh;
    height:100vh;
    background:#EDEADE;
    border-radius:10px;
    overflow:hidden;
}

/*messages*/
.messages{
    display:flex;
    visibility:visible;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    position:fixed;
    z-index:7;
    row-gap:10px;
    width:600px;
    height:90px;
    padding-top:10px;
    padding-bottom:15px;
    padding-right:10px;
    padding-left:10px;
    background:rgb(230, 230, 250, 0.95);
    border-radius:10px;
}
.hide{
    display:none;
    visibility:hidden;
}
.message{
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    width:70%;
    height:20%;
    color:#2B3856;
    font-size:16px;;
}
.close{
    align-self:flex-end;
    background:transparent;
    border:hidden;
}
.close:hover{
    cursor:pointer;
    color:white;
    background:#2B3856;
}

.messages button:hover{
    color:rgb(230, 230, 250, 0.95);
    background:#2B3856;
}

.message_options{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:250px;
    height:30px;
    border-radius:10px;
}
.message_options button{
    display:flex;
    align-items:center;
    justify-content:center:
    position:relative;
    width:auto;
    height:auto;
    color:#2B3856;
    padding:5px;
    background:transparent;
    border:1px solid #2B3856;
    border-radius:10px;
}


/*navigation*/
.Navigation{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:10px;
    position:relative;
    width:97%;
    height:30px;
    border-radius:10px;
}
.Navigation button{
    display:flex;
    align-items:center;
    justify-content:center;
    width:auto;
    height:80%;
    color:rgb(54, 69, 79);
    padding:5px;
    background:transparent;
    border:hidden;
    border-radius:10px;
    box-shadow:2px 2px 10px rgba(10, 10, 10, 0.4);
}
.Navigation button:hover{
    color:white;
    background:#5D6166;
}


/*information*/
.container{
    display:flex;
    flex-wrap:wrap;
    align-items:space-between;
    justify-content:space-evenly;
    position:relative;
    width:280px;
    height:86%;
    background:transparent;
    border-radius:10px;
}

.revenue_users{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
    width:95%;
    height:38%;
    padding:5px;
    background:#F9F6EE;
    border-radius:10px;
    box-shadow:2px 2px 10px rgba(10, 10, 10, 0.4);
}

.revenue{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-end;
    row-gap:3px;
    position:relative;
    width:90%;
    height:40%;
}
.revenue_value{
    color:#2B3856;
    font-size:50px;
}
.user_count{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-end;
    row-gap:5px;
    position:relative;
    width:90%;
    height:27%;
}
.count_value{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    color:#2B3856;
    font-size:18px;
}
.title{
    color:rgb(54, 69, 79);
    font-size:14px;
}
.subscription_stats{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
    width:95%;
    height:55%;
    padding:5px;
    background:#F9F6EE;
    border-radius:10px;
    box-shadow:2px 2px 10px rgba(10, 10, 10, 0.4);
}


/*table*/
table{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    position:relative;
    width:75%;
    height:85%;
    background:#F9F6EE;
    border-radius:10px;
    overflow-y:scroll;
    box-shadow:2px 2px 10px rgba(10, 10, 10, 0.4);
}

thead{
    position:sticky;
    top:0;
    z-index:1;
    width:100%;
    height:30px;
    color:white;
    font-size:15px;
    background:linear-gradient(to left, #908f8f, #6e6d6c, #5D6166);
    border-radius:10px 10px 0px 0px;
}
th{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    position:relative;
    width:16.4%;
    margin-left:5px;
}

tbody{
    width:100%;
}

tr{
    display:flex;
    align-items:center;
    justify-content:space-around;
    position:relative;
    width:100%;
    height:30px;
}
tr button{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    width:100%;
    height:100%;
    background:transparent;
    border:hidden;
    padding:0px;
}

td{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    position:relative;
    width:16.4%;
    font-size:14px;
    color:rgb(54, 69, 79);
    margin-left:5px;
}


.search{
    display:none;
    visibility:hidden;
}
.open_search{
    display:flex;
    visibility:visible;
    flex-direction:column;
    align-self:center;
    align-items:center;
    justify-content:flex-start;
    row-gap:2px;
    position:absolute;
    top:90px;
    z-index:5;
    width:35%;
    height:400px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    background:#EDEADE;
    border-radius:10px;
    box-shadow:2px 2px 10px rgba(10, 10, 10, 0.4);
    overflow-y:auto;
}
.search_close_button{
    display:flex;
    visibility:visible;
    align-items:center;
    align-self:flex-end;
    justify-content:center;
    position:relative;
    width:7%;
    height:5%;
    color:rgb(54, 69, 79);
    background:transparent;
    border:hidden;
}

.search_close_button:hover{
    cursor:hand;
    color:white;
    background:rgb(54, 69, 79);
    border-radius:10px;
}
.open_search form{
    display:flex;
    visibility:visible;
    align-items:center;
    align-self:center;
    justify-content:center;
    position:relative;
    width:90%;
    height:35px;
    background:transparent;
    border-radius:10px;
}
.open_search input{
    width:90%;
    height:78%;
    color:#5D6166;
    background:transparent;
    border:hidden;
    border-bottom:1px solid gray;
}
input::placeholder{
    color:rgba(54, 69, 79, 0.8);
}
input[type="search"]:focus{
    outline:none;
}
form button{
    color:#5D6166;
    background:transparent;
    border:hidden;
}
.result{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    column-gap:10px;
    position:relative;
    width:85%;
    height:40px;
    color:rgba(54, 69, 79, 0.9);
    background:rgba(10, 100, 10, 0.1);
}
.result:hover{
    cursor:hand;
}
.result img{
    width:10%;
    height:90%;
    margin-left:5px;
    background:rgba(0, 10, 0);
    border-radius:5px;
}

@media(max-width:1000px){
    body{
        gap:10px;
        height:auto;
        overflow-y:scroll;
    }
    .Navigation{
        width:95%;
    }
    .container{
        justify-content:space-between;
        width:95%;
        height:300px;
    }
    .active_inactive{
        width:40%;
        height:95%;
    }

    .subscription_stats{
        width:55%;
        height:95%;
    }
    table{
        width:95%;
        height:350px;
    }
}

@media(max-width:430px){
    body{
        gap:10px;
        height:auto;
        overflow-y:scroll;
    }
    .Navigation{
        width:97%;
    }
    .container{
        justify-content:space-between;
        width:97%;
        height:695px;
    }
    .active_inactive{
        width:98%;
        height:36%;
    }

    .subscription_stats{
        width:98%;
        height:56%;
    }
    table{
        width:98%;
        height:500px;
    }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F9F6EE;
  border-radius:0px 10px 10px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(54, 69, 79, 0.5);
  border-radius:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 69, 79, 0.8);
}
