{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/income/serviceIncome/editServiceSale.css'%}" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{%static 'css/income/serviceIncome/serviceIncomeMessages.css'%}" xmlns="http://www.w3.org/1999/html">
{%include "income/serviceIncome/serviceIncomeMessages.html"%}

<div class="Navigation">
    <button type="button"  onclick="window.location.href='/service_sale/';">
        <i class="material-icons" style="font-size:18px">arrow_forward</i>
    </button>
</div>

<form method="post">
    {%csrf_token%}
    <label>Name</label>
    <input type="text" name="item" {% if buffer.Package %} value="{{buffer.Package.Name}}"
           {% else %} value="{{buffer.Service.Name}}" {% endif %} disabled>
    <label>Quantity</label>
    <input type="text" name="quantity" value="{{buffer.Quantity}}">
    <label>Amount</label>
    <input type="text" name="amount"  value="{{buffer.Amount}}">
    <div class="but">
        <button type="submit" name="change amount">
            save
        </button>
        <button type="submit" name="delete">
            <i class="material-icons" style="font-size:18px">delete</i>
        </button>
    </div>
</form>