
<form method="post" id="search" {%if search1 and search2 or search1 or search2%} class="open_search" {%else%} class="search" {%endif%}>
    {%csrf_token%}
    <button {%if lookup_word%} type="submit" name="close_search" {%else%} type="button" onclick="closeSearch()" {%endif%} class="close_search">
        <i class="material-icons" style="font-size:19px;">close</i>
    </button>
    <div class="search_input">
        <input type="search" name="lookup_word" {%if lookup_word%} value="{{lookup_word}}" {%endif%} placeholder="search......" maxlength="60">
        <button type="submit" name="lookup_this"  onclick="getLocation()">
           <i class="material-icons" style="font-size:22px;">search</i>
        </button>
    </div>
    <div class="results">
        {%if search1%}
            {%for i in search1%}
                <div class="result" onclick="window.location.href='/viewProduct/{{i.id}}/';">
                    <img src="{{i.photo.url}}" alt="unavailable">
                    <text>{{i.name}}</text>
                </div>
            {%endfor%}
        {%endif%}
        {%if search2%}
            {%for i in search2%}
                <div class="result" onclick="window.location.href='/category/{{i.id}}/';">
                    <img src="{{i.photo.url}}" alt="unavailable">
                    <text>{{i.name}}</text>
                </div>
            {%endfor%}
        {%endif%}
    </div>
</form>

<script>
    <!--search-->
    let search = document.getElementById("search");

    function openSearch(){
        search.classList.add("open_search");
        phoneNavigation.classList.remove("open_phone_navigation");
    }
    function closeSearch(){
        search.classList.remove("open_search");
        phoneNavigation.classList.add("open_phone_navigation");
    }
</script>