<!--footer-->
<div class="footer">
    <p class="company_name">MTech</p>
    <div class="links">
        <text><i class="material-icons" style="font-size:21px;">mail</i><a href="mailto:{{bus_data.Email}}"></a></text>
        <a href="http://{{bus_data.Instagram}}" class="fa fa-instagram"></a>
        <a href="http://{{bus_data.Facebook}}" class="fa fa-facebook"></a>
        <a href="http://{{bus_data.Linkedin}}" class="fa fa-linkedin"></a>
        <a href="https://wa.me/+265{{bus_data.Contact2}}/" class="fa fa-whatsapp"></a>
    </div>
    <div class="copyright">
        <text>copyright &copy; 2024 Muduzi Inc</text>
        <p onclick="window.location.href='/terms_and_conditions/';">Terms of Service</p>
        <p onclick="window.location.href='/company/';">Company</p>
    </div>
</div>