<!--footer-->
<div class="footer">
    <p class="company_name">MTech</p>
    <div class="links">
        <text><i class="material-icons" style="font-size:21px;">mail</i><a href="mailto:stavenderrickmuduzi@gmail.com"></a></text>
        <a href="http://www.instagram.com/muduzie/" class="fa fa-instagram"></a>
        <a href="http://m.facebook.com/derrickken.muduzie/" class="fa fa-facebook"></a>
        <a href="http://{{bus_data.Linkedin}}" class="fa fa-linkedin"></a>
        <a href="https://wa.me/+265994586120/" class="fa fa-whatsapp"></a>
    </div>
    <div class="copyright">
        <text>copyright &copy; 2024 Muduzi Inc</text>
        <p onclick="window.location.href='/terms_and_conditions/';">Terms of Service</p>
        <p onclick="window.location.href='/company/';">Company</p>
    </div>
</div>