{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/catalogue/MarketCategory.css'%}" xmlns="http://www.w3.org/1999/html">

<link rel="stylesheet" type="text/css" href="{% static 'css/catalogue/catalogueMessages.css'%}" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="{% static 'css/catalogue/footer.css'%}" xmlns="http://www.w3.org/1999/html">

<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{%include 'catalogue/catalogueMessages.html'%}


<div class="Navigation" id="navigationBar">
    <div class="store_name" id="store">
        <p>MTech</p>
    </div>
    <div class="nav_but" id="nav_but">
        <button type="button" onclick="openCategories()">
            Categories
        </button>
        <button type="button" onclick="openSearch()">
            <i class="material-icons" style="font-size:18px;">search</i>
        </button>
        {%if registration_form%}
            <button type="button" class="sign_up" onclick="openSignupForm();">
                <i class="material-icons" style="font-size:18px;">person</i>
                Sign up
            </button>
        {%else%}
        {%endif%}
    </div>
    <button type="button" class="open_nav" onclick="openPhoneNav()" id="open_nav">
        <i class="material-icons" style="font-size:25px;">list</i>
    </button>
</div>

<div class="phone_nav" id="phone_nav">
    <button type="button" onclick="closePhoneNav()" id="close_nav">
        <i class="material-icons" style="font-size:20px;">close</i>
    </button>
    <button type="button" onclick="window.location.href='/';">
        <i class="material-icons" style="font-size:19px;">arrow_forward</i>
    </button>
    <button type="button" onclick="openSearch()">
        <i class="material-icons" style="font-size:19px;">search</i>
    </button>
    <button type="button" onpointerover="openCategories()">
        Categories
    </button>
    {%if client%}
    {%else%}
        <button type="button" class="sign_up" onclick="window.location.href='/login/';">
            <i class="material-icons" style="font-size:20px;">person</i>
            Sign up
        </button>
    {%endif%}
</div>

<div class="opening">
    <img src="{% static '/appdefaults/shopping-carts_1280.jpg' %}" alt="">
    <div class="opening_content">
        <p>FIND PRODUCTS FROM LOCAL STORES</p>
    </div>
</div>


<form method="post" class="Categories" id="Categories">
    {%csrf_token%}
    <div class="close_categories">
        <button type="button" onclick="closeCategories()">
            <i class="material-icons" style="font-size:19px;">close</i>
        </button>
    </div>
    <div class="cat_list">
        {%for name, icon in group1.items%}
            <button type="submit" name="view_type" value="{{name}}">
                <i class="material-icons">{{icon}}</i>&nbsp;
                {{name}}
            </button>
        {%endfor%}
    </div>
    <div class="cat_list">
        {%for name, icon in group2.items%}
            <button type="submit" name="view_type" value="{{name}}">
                <i class="material-icons" >{{icon}}</i>&nbsp;
                {{name}}
            </button>
        {%endfor%}
    </div>
    <div class="cat_list">
        {%for name, icon in group3.items%}
            <button type="submit" name="view_type" value="{{name}}">
                <i class="material-icons" >{{icon}}</i>&nbsp;
                {{name}}
            </button>
        {%endfor%}
    </div>
</form>


{%for key, value in billboard.items%}
    <form method="post" class="category">
        {%csrf_token%}
        <p>{{key|upper}}</p>
        {%for v in value%}
            <button type="submit" name="goto" value="{{v.Business_Name}}" class="example">
                <img src="{{v.Product_Photo}}" alt="add image">
                {{v.Product_Name}}
            </button>
        {%endfor%}
    </form>
{%endfor%}


<form method="post" id="search" {%if search1 and search2 or search1 or search2%} class="open_search" {%else%} class="search" {%endif%}>
    {%csrf_token%}
    <button type="submit" {%if lookup_word%} name="close_search" {%else%} onclick="closeSearch()" {%endif%} class="close_search">
        <i class="material-icons" style="font-size:19px;">close</i>
    </button>
    <div class="search_input">
        <input type="search" name="lookup_word" {%if lookup_word%} value="{{lookup_word}}" {%endif%} placeholder="search......" maxlength="60">
        <button type="submit" name="lookup_word"  onclick="getLocation()">
           <i class="material-icons" style="font-size:22px;">search</i>
        </button>
    </div>
    <div class="results">
        {%if search1%}
            {%for i in search1%}
                <div class="result" onclick="window.location.href='/view_product/{{i.id}}/';">
                    <img src="{{i.photo.url}}" alt="unavailable">
                    <text>{{i.name}}</text>
                </div>
            {%endfor%}
        {%endif%}
        {%if search2%}
            {%for i in search2%}
                <div class="result" onclick="window.location.href='/category/{{i.id}}/';">
                    <img src="{{i.photo.url}}" alt="unavailable">
                    <text>{{i.name}}</text>
                </div>
            {%endfor%}
        {%endif%}
    </div>
</form>

<p class="title">Latest Products</p>
{%for product in content%}
    <div class="product"  onclick="window.location.href = '/viewProduct/{{product.product_id}}/';">
        <div class="store_image_and_name">
            <img src="{{product.store_photo}}" alt="add image">
            <text>{{product.store_name}}</text>
        </div>
        <div class="product_image" >
            <img src="{{product.product_photo}}" alt="add image">
        </div>
        <div class="product_detail">
            <div class="name_price_likes_comments">
                <div class="name_price">
                    <text class="name">{{product.product_name}}</text>
                    <text class="price">K{{product.product_price}}</text>
                </div>
                <form id="likeComment" class="likes_comments">
                    {%csrf_token %}
                    <button type="button" onclick="openSignupForm()" class="likes_count">
                        {% if product.user_liked%}
                            <i class="material-icons" style="font-size:16px;">thumb_up</i>
                        {%else%}
                            <i class="material-icons" style="font-size:16px; color:gray;">thumb_up</i>
                        {%endif%}
                        {{product.likes}}
                    </button>

                    <button type="button" onclick="openSignupForm()" class="likes_count">
                        {% if product.user_unliked%}
                            <i class="material-icons" style="font-size:16px;">thumb_down</i>
                        {%else%}
                            <i class="material-icons" style="font-size:16px; color:gray;">thumb_down</i>
                        {%endif%}
                        {{product.unlikes}}
                    </button>
                    <button type="button" name="comment" onclick="openSignupForm()" class="comments_count">
                         <i class="material-icons" style="font-size:16px;">comment</i>{{product.comment_count}}
                    </button>
                </form>
            </div>
            <text class="cut_description" id="cut">
                {{product.product_description|slice:":65"}}
                {%if product.product_description|length|add:0 > 65 %}
                <span onclick="fullDescription()" class="read_more">...read more</span>
                {%endif%}
            </text>
        </div>
    </div>
{%endfor%}

<!--page navigation-->
<div class="page_nav">
    <div class="prev_next">
        <!--Previous Page-->
        <a {%if content.has_previous%} href="?page={{content.previous_page_number}}" {%else%} {%endif%}>
            <i class="material-icons" style="font-size:40px;">arrow_left</i>
        </a>

        <text>Page <span style="color:#2B3856;">{{content.number}}</span> of
            <span style="color:#2B3856;">{{content.paginator.num_pages}}</span>
        </text>

        <!--Previous Page-->
        <a {%if content.has_next%} href="?page={{content.next_page_number}}" {%else%} {%endif%}>
            <i class="material-icons" style="font-size:40px;">arrow_right</i>
        </a>
    </div>
</div>

 <!--
    {% if content.has_next and forloop.last %}
        <span hx-get="{% url 'market' %}?page={{ content.next_page_number }}" hx-swap="beforeend"
              hx-target="#products" hx-select=".value" hx-trigger="revealed" hx-headers='{"X-CSRFToken": "{{ csrf_token }}" }'></span>
    {% endif %}
 -->


{%include 'catalogue/footer.html'%}

<script>
    navigationBar = document.getElementById("navigationBar");

    let lastScrollPosition = 0
    window.addEventListener('scroll', function(){
        const currentScrollPosition = window.scrollY;

        if (currentScrollPosition > lastScrollPosition && currentScrollPosition > 55){
            navigationBar.classList.add('hide_navigation_bar');
        }else {
            navigationBar.classList.remove('hide_navigation_bar');
        }

        lastScrollPosition = currentScrollPosition ;
    });


    <!--phone navigation-->
    let phone_nav =  document.getElementById("phone_nav");
    let open_nav =  document.getElementById("open_nav");
    let close_nav =  document.getElementById("close_nav");

    function openPhoneNav(){
        phone_nav.classList.add("open_phone_nav");
        open_nav.classList.add("hide");
        close_nav.classList.add("open_nav");
    }

    function closePhoneNav(){
        phone_nav.classList.remove("open_phone_nav");
        open_nav.classList.remove("hide");
        close_nav.classList.remove("open_nav");
    }


    <!--bring in-out company information -->
    let compInfo =  document.getElementById("compInfo");

    function viewInfo(){
        compInfo.classList.add("compInfo");
    }

    function closeInfo(){
        compInfo.classList.remove("compInfo");
    }


    <!--click on company name-->
    let store = document.getElementById("store");
    store.addEventListener('click', goTo);

    function goTo(){
        window.location.href='/catalogue/{{goto_business}}/';
    }

    <!--search-->
    let search = document.getElementById("search");

    function openSearch(){
        search.classList.add("open_search");
    }
    function closeSearch(){
        search.classList.remove("open_search");
    }

    <!--view categories-->
    let categories = document.getElementById("Categories");

    function openCategories(){
        phone_nav.classList.remove("open_phone_nav");
        close_nav.classList.remove("open_nav");
        search.classList.remove("open_search");
        categories.classList.add("open_categories");
    }
    function closeCategories(){
        categories.classList.remove("open_categories");
        open_nav.classList.remove("hide");
    }
</script>