

<div class="products">
    {%for key, value in content.items%}
        <div class="product"  onclick="window.location.href = '/viewproduct/{{key}}/';">
            <div class="image_name">
                <img src="{{value.store.url}}" alt="add image">
                <text>Alipha Investments</text>
            </div>
            <div class="product_image" >
                <img src="{{value.photo.url}}" alt="add image">
            </div>
            <div class="product_detail">
                <text class="name">{{value.product}}</text>
                <text class="price">{{value.price}}</text>
                <text class="cut_description" id="cut">
                    {{value.description|slice:":70"}}
                    {%if value.description|length|add:0 > 70 %}
                    <span onclick="fullDescription()" class="read_more">...read more</span>
                    {%else%}
                    {%endif%}
                </text>
                <text class="full_description" id="full">
                    {{value.description}}
                    <span onclick="cutDescription()" class="read_more">...read less</span>
                </text>
            </div>
        </div>
    {%endfor%}
</div>