{%load static%}
{%load enumerate_filter%}
<link rel="stylesheet" type="text/css" href="{% static 'css/catalogue/viewProduct.css'%}" xmlns="http://www.w3.org/1999/html">

<link rel="stylesheet" type="text/css" href="{% static 'css/catalogue/catalogueMessages.css'%}" xmlns="http://www.w3.org/1999/html">

<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Javascript-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--Chart.js plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
<!link for Google icons>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{%include 'catalogue/catalogueMessages.html'%}


<form method="post" class="Navigation" id="Navigation">
    {%csrf_token%}
    <div class="contact_edit">
        <button type ='button' onclick="showContact()">
            <i class="fa fa-phone"></i>
        </button>
        {%if allowed%}
            <button type ='submit' name="edit">
                <i class="material-icons" style="font-size:20px;">edit</i>
            </button>
            <button type="submit" name="delete">
                <i class="material-icons" style="font-size:20px;">delete</i>
            </button>
        {%endif%}
    </div>
    {%if allowed%}
        <button type ='button' onclick="window.location.href='/category/{{product.Category}}/';">
            <i class="material-icons" style="font-size:20px;">arrow_forward</i>
        </button>
    {%else%}
        <button type ='button' onclick="window.history.go(-1)">
            <i class="material-icons" style="font-size:20px;">arrow_forward</i>
        </button>
    {%endif%}
</form>

<div class="product_container">
    <div class="product" id="lpv">
        <button  type="button" id="previousImage" class="prev_next">
            <i class="material-icons" style="font-size:25px; border:hidden;" >chevron_left</i>
        </button>
        <div class="product_image">
            <img id="currentImage" src="{{product.images.0}}" alt="no more images to display">
        </div>
        <button id="nextImage" type="button" class="prev_next">
            <i class="material-icons" style="font-size:25px; border:hidden;" >chevron_right</i>
        </button>
    </div>
    <div class="image_list">
        {%for index, image in product.images|enumerate_list%}
            <div class="image_list_image">
                <img src="{{image}}" alt="no more images to display">
                {%if index == 0%}
                    <div id="0" class="remove_curtain"></div>
                {%else%}
                    <div id="{{index}}" class="image_curtain"></div>
                {%endif%}
            </div>
        {%endfor%}
    </div>
    <div class="name_price">
        <text class="name">{{product.Name}}</text>
        <text class="price">K{{product.Price}}</text>
    </div>
</div>

<div class="details">
    <div class="description">
        <text class="description_title">Description</text>
        <text class="description_content">{{product.Description}}</text>
    </div>
    <table>
        <thead>
            <tr>
                <th class="t1">Specification</th>
                <th class="t2">Detail</th>
            </tr>
        </thead>
        <tbody>
        {%for i in product.features.values%}
            <tr>
                <td class="t1">{{i.Name}}</td>
                <td class="t2">{{i.Description}}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</div>


<div class="contact" id="contact">
    <div class="close">
        <button type="button" onclick="hideContact()" style="font-size:20px;">
            <i class="fa fa-close"></i>
        </button>
    </div>
    <text>Phone: +265 {{bus_data.Contact1}}</text>
    <text>Email: <a href="mailto:{{bus_data.Email}}">{{bus_data.Email}}</a></text>
    <div class="links">
        <a href="https://{{bus_data.Instagram}}" class="fa fa-instagram"></a>
        <a href="https://{{bus_data.Facebook}}" class="fa fa-facebook"></a>
        <a href="https://wa.me/{{bus_data.Contact2}}/" class="fa fa-whatsapp"></a>
    </div>
</div>

<script>

    let lpv = document.getElementById("lpv");
    let currentImage = document.getElementById("currentImage");
    let prevImg = document.getElementById("previousImage");
    let nextImg = document.getElementById("nextImage");

    let contact = document.getElementById("contact");

    let currentIndex = 0
    let previousIndex = 0


    prevImg.addEventListener("click", previousImage);
    nextImg.addEventListener("click", nextImage);


    function nextImage(){
        let List = [{%for i in product.images%} '{{i}}', {%endfor%}]
        let limit = List.length-1
        if (currentIndex < limit){
            currentIndex +=1
            previousIndex = currentIndex - 1
            }else{
            }
        currentImage.src = List[currentIndex]

        previousCurtain = document.getElementById(previousIndex);
        previousCurtain.classList.remove("remove_curtain");
        previousCurtain.classList.add("image_curtain");

        currentCurtain = document.getElementById(currentIndex).classList.add("remove_curtain");
    }
    function previousImage(){
    let List = [{%for i in product.images%} '{{i}}', {%endfor%}]
        if (currentIndex >= 1){
            currentIndex -=1
            previousIndex = currentIndex + 1
            }else{
            currentIndex=currentIndex
            }
        currentImage.src = List[currentIndex]

        previousCurtain = document.getElementById(previousIndex);
        previousCurtain.classList.remove("remove_curtain");
        previousCurtain.classList.add("image_curtain");
        currentCurtain = document.getElementById(currentIndex).classList.add("remove_curtain");

    }

    document.addEventListener('keydown', function(event){
        if (event.key === 'ArrowLeft'){
            previousImage();
        }
        if (event.key === 'ArrowRight'){
            nextImage();
        }
        if (event.key === 'BackSpace'){
            window.history.go(-1);
        }
    });

   function showContact(){
        contact.classList.add("showContact");
    }
    function hideContact(){
        contact.classList.remove("showContact");
    }

    <!-- messages -->
    let mssg = document.getElementById("mssg");

    function closeMssg(){
        mssg.classList.add("hide");
    }

</script>